/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


.my-tooltip {
  max-width: unset !important;
  white-space: pre-wrap;
  font-size: 8px;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF !important;
  font-size: 14px !important;
  margin: 5px 5px 5px 25px !important;
  padding: 16px!important;
  background: #132249 !important;
  display: inline-block !important;
  cursor: pointer !important;
  border-radius: 40px !important;
  border: 1px solid #FFF ;
}

.owl-carousel .owl-nav .owl-prev {
  text-align: left;
  position: absolute;
  bottom: 45%;
  left: -2%;
}

.owl-carousel .owl-nav .owl-next{
  text-align: left;
  position: absolute;
  bottom: 31%;
  left: -2%;
}

@media only screen and (max-width: 1250px){
  
  .owl-theme .owl-nav [class*=owl-] {
    
    margin: 5px 5px 5px 10px !important;
  }
  }

@media only screen and (max-width: 575px){
  .owl-carousel .owl-nav .owl-next {
    text-align: right;
    position: absolute;
    bottom: 43%;
    left: 83%;
}
.owl-carousel .owl-nav .owl-prev {
  text-align: left !important;
  position: absolute !important;
  bottom: 43% !important;
  left: -5% !important;
}
}

@media only screen and (max-width: 450px){
  .owl-carousel .owl-nav .owl-next {
    text-align: right;
    position: absolute;
    bottom: 43%;
    left: 84%;
}
.owl-carousel .owl-nav .owl-prev {
  text-align: left !important;
  position: absolute !important;
  bottom: 43% !important;
  left: -1% !important;
}
.owl-carousel .owl-nav .owl-prev img, .owl-carousel .owl-nav .owl-next img{
  width: 30px;
}
}

@media only screen and (max-width: 500px){
#customer{padding-left: 20px !important;}
}

/* @media only screen and (max-width: 480px){
  #runclg > .slide {
   margin-left: 25%;
  }
} */

@media only screen and (max-width: 425px){
  #customer{padding-left: 0px !important;}
  .owl-theme .owl-nav [class*=owl-] {
    
    margin: 5px 5px 5px 5px !important;
  }
  }


  .owl-prev{
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    padding: 16px;
  }
  .owl-next{
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    padding: 16px;
  }
  .owl-prev:hover{
    box-shadow: inset 100px 0 0px 0px white;
    content: url(/assets/images/Vectorb.svg) !important;

  }
  .owl-next:hover{
    box-shadow: inset 100px 0 0 0 white;
    content: url(/assets/images/Vectorbr.svg) !important;
  }
  .owl-theme .owl-nav [class*=owl-]:hover{
    border: 1px solid #132249 ;
  }
  .owl-prev > img:hover{
    /* box-shadow: inset 0 0 100px 0px white; */
    content: url(/assets/images/Vectorb.svg) !important;
  }
  .owl-next> img:hover{
    /* box-shadow: inset 100px 0 0 0 white; */
    content: url(/assets/images/Vectorbr.svg) !important;
  }
  