<div class="container-fluid">
    <div class="row">
      <div  class="col-md-12 nav-pad">
    <nav id="head_nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dr.VB’s Ceramic Research Centre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] ='["/about"]'>About Us </a>
        </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] ='["/library"]'>Library</a>
          </li>
       
        <li class="nav-item">
          <a class="nav-link" [routerLink] ='["/gallery"]'>Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] ='["/service"]'>Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact-btn" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>
</div>

<div class="main-section">
    <div class="hero">
        <h1 class="gallery-text">GALLERY</h1>
    <div class="gall-para">
        <p>Our services are transparently priced for optimal customer satisfaction. Check out our selection of high-quality services at affordable rates.</p>
    </div>
    </div>
    <hr/>
    <div>
        <img class="hero-image" src="../../assets/Frame 125.png">
    </div>

    <div class="containers">
      <div class="container-1">
        <div style="width: 45%;"><img class="container-left" src="../../assets/Carousel.png"></div>
        <div style="width: 45%;" class="container-right">
            <div class="cont-heading">
                <h3>Gallery <span>01/04</span></h3>
                <h1>ACCOLADES</h1>
            </div>
            <div class="btn-content">
                <div class="btns-container">
                    <button class="btn">Awards</button>
                    <button class="btn">Celebrations</button>
                    <button class="btn">Ceremony</button>
                </div>
                <br/>
                <div class="content">
                    <p>VB Ceramic Research Centre shines bright with a collection of accolades, lauded for groundbreaking R&D and top-tier quality control in Glass, Ceramics, Nano Science, and Material Science. A trailblazer in innovation, their excellence has garnered numerous prestigious awards, cementing their position as industry leaders.</p>
                </div>
            </div>
        </div>
      </div>
        
      <div class="container-1">
        <div style="width: 45%;" class="container-right">
            <div class="cont-heading">
                <h3>Gallery <span>02/04</span></h3>
                <h1>CERTIFICATIONS</h1>
            </div>
            <div class="btn-content">
                <div class="btns-container">
                    <button class="btn">Legibility</button>
                    <button class="btn">Validation</button>
                    <button class="btn">Achievements</button>
                </div>
                <br/>
                <div class="content">
                    <p>VB Ceramic Research Centre proudly boasts a multitude of certifications, attesting to our unwavering commitment to excellence. With a steadfast dedication to research and development and rigorous quality control, the certifications affirm our status as trusted industry pioneers.</p>
                </div>
            </div>
        </div>
        <div style="width: 45%;"><img class="container-left" src="../../assets/Carousel.png"></div>
      </div>

      <div class="container-1">
        <div style="width: 45%;"><img class="container-left" src="../../assets/Carousel.png"></div>
        <div style="width: 45%;" class="container-right">
            <div class="cont-heading">
                <h3>Gallery <span>03/04</span></h3>
                <h1>VISITATIONS</h1>
            </div>
            <div class="btn-content">
                <div class="btns-container">
                    <button class="btn">Scientists</button>
                    <button class="btn">Research</button>
                    <button class="btn">Laboratory</button>
                </div>
                <br/>
                <div class="content">
                    <p>VB Ceramic Research Centre, a magnet for knowledge seekers, has welcomed countless visits from esteemed scientists worldwide. Our expertise attracts a diverse community of researchers, fostering a dynamic exchange of ideas and advancements in the field.</p>
                </div>
            </div>
        </div>
      </div>

      <div class="container-1">
        <div style="width: 45%;" class="container-right">
            <div class="cont-heading">
                <h3>Gallery <span>04/04</span></h3>
                <h1>INAUGURATION</h1>
            </div>
            <div class="btn-content">
                <div class="btns-container">
                    <button class="btn">Function</button>
                    <button class="btn">R&D</button>
                    <button class="btn">Innovation</button>
                </div>
                <br/>
                <div class="content">
                    <p>In a momentous inaugural event of VB Ceramic Research Centre, Eminent scientists, industry leaders, and visionaries graced the occasion, celebrating a new chapter of innovation and scientific excellence. The gathering marked the beginning of a promising journey towards shaping the future of advanced materials technology.</p>
                </div>
            </div>
        </div>
        <div style="width: 45%;"><img class="container-left" src="../../assets/Carousel.png"></div>
      </div>
    </div>
</div>


<div class="section-3">
  <div class="pic-animation">
    <div class="above-section">
      <img src="../../assets/gallery-page-img/mirror-like.jpeg" alt="mirror">
      <img src="../../assets/gallery-page-img/white_building.jpeg" alt="white_building">
      <img src="../../assets/gallery-page-img/seive-like.jpeg" alt="seive">
      <img src="../../assets/gallery-page-img/white-big.jpeg" alt="white_big">
      <img src="../../assets/gallery-page-img/sky-view.jpeg" alt="sky-view">
    </div>
    <div class="below section">
      <img src="../../assets/gallery-page-img/mirror-like.jpeg" alt="mirror">
      <img src="../../assets/gallery-page-img/white_building.jpeg" alt="white_building">
      <img src="../../assets/gallery-page-img/seive-like.jpeg" alt="seive">
      <img src="../../assets/gallery-page-img/white-big.jpeg" alt="white_big">
      <img src="../../assets/gallery-page-img/sky-view.jpeg" alt="sky-view">
    </div>
  </div>
</div>