/* Small devices (landscape phones, 544px and up) */
@media (max-width: 1000px) {
  .container-left{
    width:50%;
  }
  }
  
  .nav-item{margin-right:15px;}
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
 
   
  /* Large devices (desktops, 992px and up) */
  @media (max-width: 870px) { 
    /* .container-1{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      align-self: stretch;
      flex-wrap: wrap;
      width: 100%;
      background-color: antiquewhite;
    }
    .container-left{
      width: 70%;
      height: auto;
    }
    .container-right{
      width: 70%;
      height: auto;
      background-color: aqua;
    } */
  }
   /* Media Query section Completed */


  .navbar-nav{
      justify-content: center;
   }
   .nav-pad{
    padding: 0 40px 0 40px;
   }
   .contact-btn{
     border-radius: 20px;
     background-color: var(--primary, #181977);
     color: #FFF;
     font-family: Schibsted Grotesk;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
    line-height: 16px; /* 100% */
   }
   .main-section{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .hero{
    padding: 20px 40px 20px 40px;
    display: flex;
    gap: 50px;
    
  }
  .main-section hr{
    border-bottom: 1px solid #000;
    width: 93%;
    display: flex;
  }

  /* Gallery text section */

   .gallery-text{
    color: #261499;
    font-family: Unbounded;
    font-size: 82px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .gall-para{
    color: #000;
   font-family: Schibsted Grotesk;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; /* 30px */
  }

  /* Hero image section */
  .hero-image{
    display: flex;
    width: 100%;
    height: auto;
    padding: 50px 20px;
    justify-content: center;
    align-items: center; 
  }


  /* containers section */
  .containers{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 40px;
    gap: 50px;
  }
  .container-1{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* flex-wrap: wrap; */
    gap: 30px;
  }
  .container-left{
    width:45%;
  }
  .left-image{
    width: 90%;
    height: 450px;
  }
  .container-right{
    display: flex;
    width: 45%;
    height: 50%;
    padding: 50px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    /* background-color: beige; */
  }


  /* Containers right side text content */

.cont-heading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.cont-heading h3{
  align-self: stretch;
  color: #261499;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cont-heading h3 span{
  color: #B5B5B5;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cont-heading h1{
  align-self: stretch;color: #261499;
  font-family: Unbounded;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 58px */
}
.btn-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.btns-container{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
.btn{
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  border: 1px solid #000;
}
.content{
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}


/* Animation Image section */
.pic-animation{
  display: flex;
  padding: 50px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.above-section{
  display: flex;
  width: 100%;
  height: auto;
  padding-right: 0px;
  align-items: center;
  flex-shrink: 0;
}
.below-section{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
.above-section img{
  width: 234px;
  height: 234px;
}
.below-section img{
  width: 234px;
  height: 234px;
}


/* Footer Sextion */
.flex10{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  flex-direction: row;
  background: #EDF1FD;
}

.card10{
  min-width: 320px;
  max-width: 340px;
  padding: 5px 40px;
}

.card10 p {
  font-size: 20px;
}
.card10 ul{
  padding-left:0px;
}

.card10 li {
  font-size: 16px;
  background: url(/assets/images/arrowright.svg) left no-repeat;
  list-style-type: none;
  padding-left: 20px;

}

.footer{
  display: flex;
  flex-direction: row;
  background-color: #261499;
  color: white;
}

.cardfooter{
  gap: 20px;
  display: flex;
  flex-direction: row;
  float: right;
  margin-left: auto;
  padding: 20px 20px 0px 20px;
}

.separator{
  background: #FFF;
  width: 1px;
  height: 41px;
}

@media (max-width: 1050px) {  
  .cont-heading h1{
    font-size: 49px;
  }
  .left-image{
    width: 90%;
    height: 450px;
  }

}

@media (max-width: 950px) {  
  .gallery-text{
    font-size:50px;
    font-weight: 200;
    text-align: center;
    padding: 0 40px 0 40px;
  }
  .hero{
    display: flex;
    flex-direction: column;
  }
  .container-1{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
  }
  .container-left{
    width:80%;
  }
  .left-image{
    width: 90%;
    height: 50  0px;
  }
  .container-right{
    width: 100%;
  }
  .cont-heading h1{
    font-size: 48px;
  }
}
@media (max-width: 800px) {  
  .left-image{
    width: 90%;
    height: 350px;
  }

}