<div class="container-fluid">
    <div class="row">
      <div  class="col-md-12 nav-pad">
    <nav id="head_nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dr.VB’s Ceramic Research Centre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] ='["/about"]'>About Us </a>
        </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] ='["/library"]'>Library</a>
          </li>
       
        <li class="nav-item">
          <a class="nav-link" [routerLink] ='["/gallery"]'>Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] ='["/service"]'>Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact-btn" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>
</div>

<div class="main-section">
    <div class="hero">
        <h1 class="gallery-text">GALLERY</h1>
    <div class="gall-para">
        <p>Our services are transparently priced for optimal customer satisfaction. Check out our selection of high-quality services at affordable rates.</p>
    </div>
    </div>
    <hr/>
    <div>
        <img class="hero-image" src="../../assets/Frame 125.png">
    </div>
    <div class="containers">
      <div class="container-1">
        <div><img class="container-left" src="../../assets/Carousel.png"></div>
        <div class="container-right">
            <div class="cont-heading">
                <h3>Gallery <span>03/04</span></h3>
                <h1>ACCOLADES</h1>
            </div>
            <div class="btn-content">
                <div class="btns-container">
                    <button class="btn">Awards</button>
                    <button class="btn">Celebrations</button>
                    <button class="btn">Ceremony</button>
                </div>
                <br/>
                <div class="content">
                    <p>VB Ceramic Research Centre shines bright with a collection of accolades, lauded for groundbreaking R&D and top-tier quality control in Glass, Ceramics, Nano Science, and Material Science. A trailblazer in innovation, their excellence has garnered numerous prestigious awards, cementing their position as industry leaders.</p>
                </div>
            </div>
        </div>
      </div>
        
    </div>
    <div class="container">
        <h2>ACCOLADES</h2>
    </div>
    <div class="container">
        <h2>CERTIFICATIONS</h2>
    </div>
    <div class="container">
        <h2>VISITATIONS</h2>
    </div>
    <div class="container">
        <h2>INAUGURATIONS</h2>
    </div>
</div>