/* Small devices (landscape phones, 544px and up) */
@media (max-width: 1000px) {

  .container-left {
    width: 50%;
  }
}

/* Navbar */

.navbar {
  padding: 20px 40px;
}

.bg-light {
  background-color: #132249 !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px !important;
  border-radius: 50px;
  color: white !important;
  font-family: Schibsted Grotesk;
}

.nav-link:hover {
  background: #cdd9fa;
  color: #132249 !important;
  border-radius: 50px;
  font-family: Schibsted Grotesk;
}

.navbar-nav {
  gap: 10px;
  color: #fff !important;
}
.navbar-toggler {
  border: unset;
  box-shadow: unset;
} 
.navbar-toggler img {
  width: 30px;
  height: 30px;
}

.navbar-toggler-icon {
  background-image: none !important;
}

#nav_contact {
  background: #cdd9fa;
  color: #132249 !important;
  border-radius: 50px;
  font-family: Schibsted Grotesk;
  text-decoration: none;
  border: 1px solid #132249;
}

#nav_contact:hover {
  /* border-radius: 20px; */
  /* border: 2px solid #132249; */
  border: 1px solid #FFF;
  background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
  color: white !important;
}

#nav_contact {
  display: flex;
  padding: 6px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


/* header */
#top_header {
  color: #132249;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Unbounded;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  color: #000;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  text-transform: uppercase;
}

/* container */

.container-fluid {
  padding: 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
}

.container-fluid1 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
}

.responsive {
  width: 100%;
}

.responsive h1 {
  font-size: 10px !important;
}

// .navbar-light .navbar-toggler-icon {
//   background: url(/assets/images/menu_own.svg) left no-repeat;
// }

.main-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.hero {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.main-section hr {
  border-bottom: 1px solid #000;
  width: 100%;
  display: flex;
  margin-top: 0px;
}

/* Gallery text section */

.gallery-text {
  color: #132249;
  width: 50%;
  font-family: Unbounded;
  font-size: clamp(1rem, 8vw, 8rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gall-para {
  color: #000;
  width: 50%;
  margin-top: 15px;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 30px */
}

.heroImg {
  width: 100%;
  padding: 30px 40px 20px;
  border-radius: 40px;
}
/* Hero image section */
.hero-image {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.radius {
  border-radius: 40px;
}


/* containers section */
.containers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  gap: 20px;
}

.container-1 {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* flex-wrap: wrap; */
  gap: 30px;
  background: #fff;
}

.container-left {
  width: 45%;
}

.left-image {
  width: 90%;
  height: 450px;
}

.container-right {
  display: flex;
  width: 45%;
  height: 50%;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  /* background-color: beige; */
}


/* Containers right side text content */

.cont-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.cont-heading h3 {
  align-self: stretch;
  color: #132249;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cont-heading h3 span {
  color: #B5B5B5;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cont-heading h1 {
  align-self: stretch;
  color: #132249;
  font-family: Unbounded;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 58px */
}

.btn-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.btns-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.btns-container button{
  color: #000;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  border: 1px solid #000;
}

.content {
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 27.2px */
}


/* Animation Image section */
.pic-animation {
  display: flex;
  padding: 50px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.above-section {
  display: flex;
  width: 100%;
  height: auto;
  padding-right: 0px;
  align-items: center;
  flex-shrink: 0;
}

.below-section {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.above-section img {
  width: 234px;
  height: 234px;
}

.below-section img {
  width: 234px;
  height: 234px;
}


/* Footer Sextion */
.flex10 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  flex-direction: row;
  background: #EDF1FD;
  font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.card10 {
  min-width: 320px;
  max-width: 340px;
  padding: 5px 40px;
}

.card10 p {
  font-size: 20px;
}

.card10 ul {
  padding-left: 0px;
}

.card10 li {
  font-size: 16px;
  background: url(/assets/images/arrowright.svg) left no-repeat;
  list-style-type: none;
  padding-left: 20px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.card10 li:hover {
  padding-left: 30px;
  transition: 0.2s;
}

.footer_img {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.footer_img:hover {
  transform: scale(1.1);
}

.hitech{
  height: 50px;
 }

.footer {
  display: flex;
  flex-direction: row;
  background-color: #132249;
  color: white;
  font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.cardfooter {
  gap: 20px;
  display: flex;
  flex-direction: row;
  float: right;
  margin-left: auto;
  padding: 20px 20px 0px 20px;
}

.separator {
  background: #FFF;
  width: 1px;
  height: 26px;
}

.section-3 {
  padding: 20px;
}

.slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.slide .container_image {
  width: 100%;
  height: 450px;
  padding: 20px;
  border-radius: 40px;
}

.slide_img {
  padding: 10px;
  width: 280px;
  height: 234px;
}

.owl-item {
  width: 450px !important;
  margin-right: 10px;
  background: powderblue;
}

// .hero-image {
//   width: 100%;
//   height: 600px;
// }

/* @keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  flex: 0 0 33.33%;
  animation: slideLeftToRight 5s linear infinite;
}

.carousel-item img {
  width: 100%;
  height: auto;
} */




/* @keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  flex: 0 0 auto; 
  animation: slideLeftToRight 3s linear infinite;
}

.carousel-item img {
  width: auto;
  height: auto;
  max-width: 100%; 
  max-height: 100%; 
} */
@mixin white-gradient {
  // background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
$animationSpeed: 15s;

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-250px * 6))
  }
}


// Styling
.slider {
  
  background: lightgray 50% / cover no-repeat, #FFF;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  margin: auto;
  overflow: hidden;
  position: relative;
  // width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(calc(-250px * 6));
  }

  to {
    transform: translateX(0);
  }
}


// Styling
.sliders {
  background: lightgray 50% / cover no-repeat, #FFF;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  margin: auto;
  overflow: hidden;
  position: relative;
  // width: 960px;


  .slide-track {
    animation: scrollLeft $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
}
@keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  flex: 0 0 auto;
  animation: slideLeftToRight 3s linear infinite;
}

.carousel-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* Preload the images */
#preload {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

@media (max-width: 1320px) {

  .gall-para {
    font-size: 18px;
  }

  // .hero-image {
  //   /* width: 90%; */
  //   height: 400px;
  // }

  .cont-heading h1 {
    font-size: 52px;
    /* 58px */
  }
}

@media (max-width: 1100px) {
  .cont-heading h1 {
    font-size: 49px;
  }

  .left-image {
    width: 90%;
    height: 450px;
  }

  .gall-para {
    font-size: 17px;
  }

  // .hero-image {
  //   /* width: 80%; */
  //   height: 400px;
  // }

  .slide .container_image {
    width: 100%;
    height: 420px;
  }
  .slide_img {
    width: 250px;
    height: 220px;
  }
}

@media (max-width: 992px) {
  .nav-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item-contact {
    display: flex;
    justify-content: center;
    width: 100%;
  }



  .gall-para {
    font-size: 16px;
    margin-top: 10px;

  }

  // .hero-image {
  //   /* width: 70%; */
  //   height: 400px;
  // }

  .slide_img {
    width: 240px;
    height: 190px;
  }

  .slide .container_image {
    width: 100%;
    height: 440px;
  }

  .cont-heading h1 {
    font-size: 40px;
  }

  .container-right {
    gap: 10px;
  }

  .cont-heading {
    gap: 10px;
  }

  .btn-content {
    gap: 20px;
  }
}

@media (max-width: 850px) {
  #top_header {
    font-size: 3.96rem;
    letter-spacing: 4.5px;
  }

  .gallery-text {
    width: 100%;
    text-align: center;
    font-size: clamp(1rem, 14vw, 10rem) !important;
  }

  .gall-para {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 0px;
  }

  .container-1 {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
  }

  .container_reverse {
    flex-direction: column-reverse;
    /* align-items: center;
    justify-content: center; */
  }

  .container-left {
    width: 100%;
  }

  .left-image {
    width: 90%;
    height: 500px;
  }

  .container-right {
    width: 100%;
  }

  .cont-heading h1 {
    font-size: 48px;
  }

  .slide .container_image {
    width: 100%;
    height: 400px !important;
    padding: 0px 20px;
    border-radius: 60px;
  }

  // .hero-image {
  //   width: 100%;
  //   height: 350px;
  // }

  .slide_img {
    width: 220px;
    height: 160px;
  }

  .container-right {
    gap: 20px;
  }

  .cont-heading {
    gap: 20px;
  }

  .btn-content {
    gap: 30px;
  }

  .container-1 {
    gap: 15px;
  }
}
@media only screen and (max-width: 900px){
  .card10{
    padding: 0px;
  }
  .flex10{
    padding: 40px;
    gap: 20px 50px;
    justify-content: flex-start;
  }
}
@media (max-width: 800px) {
  .left-image {
    width: 90%;
    height: 350px;
  }

  .slide .container_image {
    width: 100%;
    height: 350px !important;
    border-radius: 55px;
  }

  // .hero-image {
  //   /* width: 80%; */
  //   height: 350px;
  // }

  .slide_img {
    width: 200px;
    height: 150px;
  }

  .cardfooter {
    display: none;
  }

  .footer {
    justify-content: center;
  }
}

@media (max-width: 650px) {

  .slide .container_image {
    /* width: 75%; */
    height: 300px !important;
    padding: 0px;
    border-radius: 20px;
  }
  .navbar{
    padding: 20px;
  }
  .hero {
    padding: 20px 20px 0px 20px;
  }

  .heroImg {
    padding: 10px 20px;
  }
  .container-right {
    padding: 10px 0px;
  }

  .gall-para {
    font-size: 16px;
  }

  // .hero-image {
  //   /* width: 70%; */
  //   height: 350px;
  // }

  .slide_img {
    width: 180px;
    height: 130px;
  }

  .heroImg {
    border-radius: 20px;
  }
  .flex10{
    padding: 20px;
  }

  /* Hero image section */
  // .hero-image {
  //   border-radius: 20px;
  // }
}

@media (max-width: 600px) {

  // .hero-image {
  //   /* width: 65%; */
  //   height: 300px;
  // }

  .slide .container_image {
    height: 250px !important;
  }

  .slide_img {
    width: 180;
    height: 130px;
  }

  .cont-heading h1 {
    font-size: 45px;
  }
}

@media (max-width: 499px) {


  .gall-para {
    font-size: 15px;
  }

  // .hero-image {
  //   /* width: 50%; */
  //   height: 300px;
  // }

  .slide .container_image {
    height: 250px !important;
  }

  .slide_img {
    width: 170;
    height: 120px;
  }

  .cont-heading h1 {
    font-size: 40px;
  }

  .content {
    font-size: 14px;
  }
  .btns-container button{
    font-size: 14px;
  }
}

@media (max-width: 440px) {
  .cont-heading h1 {
    font-size: 30px;
  }
}

@media (max-width: 350px) {

  .cont-heading h1 {
    font-size: 28px;
  }

  .slide .container_image {
    height: 200px !important;
  }
}