<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VBCRC</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" rel="stylesheet">
  <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js">
  </script>
  <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js">
  </script>

  <script src="../resources/assets/bootstrap/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="../resources/assets/js/smoothproducts.min.js"></script>
  <script src="../resources/assets/js/theme.js"></script> -->
</head>

<body>
  <div id='form-section' style='overflow: hidden;'>
    <div class="container-fluid1">
      <div class="row">
      <div  class="col-md-12 ">
      <nav id="head_nav" class="navbar navbar-expand-lg navbar-light bg-light">
      <img id='head_img' src="./assets/images/VBCC_Logo_White.svg" alt="" [routerLink]='["/"]'>
      <button (click)="changeImage15()"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img [src]="imagesNav[currentImageIndex15]" alt="">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink] ='["/about"]'>About Us </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] ='["/library"]'>Library</a>
            </li>
         
          <li class="nav-item">
            <a class="nav-link" [routerLink] ='["/gallery"]'>Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] ='["/service"]'>Services</a>
          </li>
          <li class="nav-item nav-item-contact">
            <a id='nav_contact' class="" style='background-color:white !important; color:#132249 ;border-radius: 50px;' [routerLink]='["/contact"]'>Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  </div>
  </div>
<br>



<div class="container-fluid" (scroll)="onViewportScroll($event)">
    <div class="flex1">
      <h1 *ngIf="screenWidth >= 650" id="top_header">DR.VB’s ceramic research Centre </h1>
      <h1 *ngIf="screenWidth <= 649" id="top_header">DR.VBCRC</h1>
      <p id="para">Fostering innovation through our R&D hub for students, scholars and industries while also Spearheading collaborative projects with government organisations, private industries and institutions.</p>
    </div>
    <br>
        <div class="flex2" style="text-align:center">

          <div id="carouselExampleIndicators" class="carousel " data-bs-ride="carousel" data-interval="false">
            <!-- <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol> -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img id='caroimg' class="d-block w-100" src="./assets/images/caro1.png" alt="First slide">
                <div class="carousel-caption  d-md-block" style=''>
                  <div class="fixed-top">
                    <h4 class="fixed-top-head">Pure research</h4>
                    <h3 id="paraoneofcaro1" class="fixed-top-head">Excellence</h3>
                    <p class="item_p">At VBCRC, Research Excellence is our guiding principle, fuelling innovation and driving impactful discoveries.</p>
                  </div>
                  <div class='buttonFlex'>
                    <button id='car_button_1' (click)="scrollToSection('exploreService')"><span>Explore Services</span> <span class="btnExplore"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
                      <path d="M-6.99382e-07 16C0.741999 16 1.85 16.733 2.78 17.475C3.98 18.429 5.027 19.569 5.826 20.876C6.425 21.856 7 23.044 7 24M7 24C7 23.044 7.575 21.855 8.174 20.876C8.974 19.569 10.021 18.429 11.219 17.475C12.15 16.733 13.26 16 14 16M7 24L7 3.0598e-07" stroke="white" stroke-width="2"/>
                      </svg></span></button>
                    <button id='car_button_2' [routerLink]='["/contact"]'>Contact Us</button>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img id='caroimg' class="d-block w-100" src="./assets/images/caro2.png" alt="Second slide">
                <div class="carousel-caption  d-md-block" style=''>
                  <div class="fixed-top">
                    <h4 class="fixed-top-head">Empowering</h4>
                    <h3 id="paraoneofcaro2" class="fixed-top-head">Discoveries</h3>
                    <p class="item_p">Through relentless inquiry, ground breaking investigations, and collaborative spirit, we strive to push the boundaries of human understanding and shape a brighter future for all</p>
                  </div>
                  <div class='buttonFlex'>
                   <button id='car_button_1' (click)="scrollToSection('exploreService')"><span>Explore Services</span> <span class="btnExplore"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
                    <path d="M-6.99382e-07 16C0.741999 16 1.85 16.733 2.78 17.475C3.98 18.429 5.027 19.569 5.826 20.876C6.425 21.856 7 23.044 7 24M7 24C7 23.044 7.575 21.855 8.174 20.876C8.974 19.569 10.021 18.429 11.219 17.475C12.15 16.733 13.26 16 14 16M7 24L7 3.0598e-07" stroke="white" stroke-width="2"/>
                    </svg></span></button>
                    <button id='car_button_2' [routerLink]='["/contact"]'>Contact Us</button>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img id='caroimg' class="d-block w-100" src="./assets/images/caro3.png" alt="Third slide">
                <div class="carousel-caption  d-md-block" style=''>
                  <div class="fixed-top">
                    <h4 class="fixed-top-head">Exploring Frontiers of</h4>
                    <h3 id="paraoneofcaro3" class="fixed-top-head">Knowledge</h3>
                    <p class="item_p">Our unwavering commitment to rigorous inquiry and pioneering methodologies ensures that we consistently deliver research of the highest calibre.</p>
                  </div>
                  <div class='buttonFlex'>
                   <button id='car_button_1' (click)="scrollToSection('exploreService')"><span>Explore Services</span> <span class="btnExplore"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
                    <path d="M-6.99382e-07 16C0.741999 16 1.85 16.733 2.78 17.475C3.98 18.429 5.027 19.569 5.826 20.876C6.425 21.856 7 23.044 7 24M7 24C7 23.044 7.575 21.855 8.174 20.876C8.974 19.569 10.021 18.429 11.219 17.475C12.15 16.733 13.26 16 14 16M7 24L7 3.0598e-07" stroke="white" stroke-width="2"/>
                    </svg></span></button>
                    <button id='car_button_2' [routerLink]='["/contact"]'>Contact Us</button>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img id='caroimg' class="d-block w-100" src="./assets/images/caro4.png" alt="Fourth slide">
                <div class="carousel-caption  d-md-block" style=''>
                  <div class="fixed-top">
                    <h4 class="fixed-top-head">Innovating <span id="paraoneofcaro4">Minds,</span> Inspiring <span id="paraoneofcaro4">Tomorrow</span> </h4>
                    <p class="item_p">We are more than just researchers, We are Trailblazers, pushing the boundaries of knowledge to sculpt a future where every question answered opens the door to new opportunities.</p>
                  </div>
                  <div class='buttonFlex'>
                   <button id='car_button_1' (click)="scrollToSection('exploreService')"><span>Explore Services</span> <span class="btnExplore"><svg xmlns="http://www.w3.org/2000/svg" id="svg1" width="14" height="24" viewBox="0 0 14 24" fill="none">
                    <path d="M-6.99382e-07 16C0.741999 16 1.85 16.733 2.78 17.475C3.98 18.429 5.027 19.569 5.826 20.876C6.425 21.856 7 23.044 7 24M7 24C7 23.044 7.575 21.855 8.174 20.876C8.974 19.569 10.021 18.429 11.219 17.475C12.15 16.733 13.26 16 14 16M7 24L7 3.0598e-07" stroke="white" stroke-width="2"/>
                    </svg></span></button>
                    <button id='car_button_2' [routerLink]='["/contact"]'>Contact Us</button>
                  </div>
                </div>
              </div>
              <div class="car_slide">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <button (mouseover)="changeImage7()" (mouseout)="changeImage7b()"  class="right-slide"><img [src]="arrowimages[currentImageIndex7]" class="carousel-control-prev-icon" aria-hidden="true" src="./assets/images/arrow_cc.svg" alt=""></button>
                    <span class="sr-only">Previous</span>
                
                </a>
                <a  class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <button (mouseover)="changeImage8()" (mouseout)="changeImage8b()" class="left-slide"><img [src]="arrowimages2[currentImageIndex8]"  class="carousel-control-next-icon" aria-hidden="true" src="./assets/images/arrow_c.svg" alt=""></button>
                  <span class="sr-only">Next</span>
                </a>

              </div>
             
            </div>
          </div>
        </div>

          <div id='runclg' style='background-color: #132249;margin-bottom: -11px;'>
            <hr>
             <p id="para_two">Trusted by Reputed Institutions</p>
             <br>
             <div  class="slider">
              <div class="slide-track">
                <div class="slide">
                  <img src="./assets/images/IIT-Madras-01 2.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">IIT Madras</span>
                </div>
                <div class="slide">
                  <img src="./assets/images/AnnaUniv.svg" height="50" width="50" alt="" /> <span class='college' style="margin-left:10px">Anna University</span>
                </div>
                <div class="slider">
                  <img src="./assets/images/kanpur.svg" height="50" width="50" alt="" /> <span class='college' style="margin-left:10px">IIT Kanpur</span>
                </div>
                <div class="slider">
                  <img src="./assets/images/IIT Bombay.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">IIT Bombay</span>
                </div>
                <div class="slider">
                  <img src="/assets/images/IIT Kharagpur.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">IIT Kharagpur</span>
                </div>
                <div class="slider">
                  <img src="./assets/images/SRM.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">SRM University</span>
                </div>
                <div class="slider">
                  <img src="./assets/images/St.Josephs.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">St.Joseph’s Inst.</span>
                </div>
                <div class="slide">
                  <img src="./assets/images/IIT-Madras-01 2.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">IIT Madras</span>
                </div>
                <div class="slide">
                  <img src="./assets/images/AnnaUniv.svg" height="50" width="50" alt="" /> <span class='college' style="margin-left:10px">Anna University</span>
                </div>
                <div class="slider">
                  <img src="./assets/images/kanpur.svg" height="50" width="50" alt="" /> <span class='college' style="margin-left:10px">IIT Kanpur</span>
                </div>
                <div class="slider">
                  <img src="./assets/images/IIT Bombay.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">IIT Bombay</span>
                </div>
                <div class="slider">
                  <img src="/assets/images/IIT Kharagpur.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">IIT Kharagpur</span>
                </div>
                <div class="slider">
                  <img src="./assets/images/SRM.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">SRM University</span>
                </div>
                <div class="slider">
                  <img src="./assets/images/St.Josephs.svg" height="50" width="50" alt="" /><span class='college' style="margin-left:10px">St.Joseph’s Inst.</span>
                </div>
                
              </div>
            </div>

            <hr id="hr_tag" style='color:white'>     
          </div>
          
          <div class="flex4" >
            <div class="card card1 numbers" style='width: 32%;'>
            <img class='flex-items4' style="border-radius:20px" src="./assets/images/Frame 110 (1).png" alt="">
            <div class="contentdiv">
              <div class="numbers">
                <span class="numbers__window">
                    <span data-aos="new-animation" #boxElement class="numbers__window__digit numbers__window__digit--1" data-fake="8642519073">9</span>
                </span>
                
                <span class="numbers__window">
                    <span data-aos="new-animation" #boxElement class="numbers__window__digit numbers__window__digit--3" data-fake="8395216407">9</span>
                </span>
                <span class="">
                  <span style="font-family: Unbounded;" class="" data-fake="5207186394">%</span>
              </span>
            </div>
            <p style='margin-bottom: 2px !important;' class="project1info">
              Accuracy Rate
            </p>
            </div>
            </div>
            <div class="card card2 numbers" style='width: 32%;' >
              <img class='flex-items4 ' style="border-radius:20px" src="./assets/images/Frame 110 (2).png" alt="">
              <div class="contentdiv">
                <div class="numbers">
                  <span class="numbers__window " >
                      <span  #boxElement data-aos-mirror="true" class="numbers__window__digit numbers__window__digit--2" data-fake="8642519073">2.</span>
                  </span>
                  <span class="dot_num">
                    <span  #boxElement  data-aos-mirror="true" class="" data-fake="8642519.73">.</span>
                </span>        
                  <span class="numbers__window">
                      <span   #boxElement data-aos-mirror="true" class="numbers__window__digit numbers__window__digit--2" data-fake="8395216407">0</span>
                  </span>
                  <span class="">
                    <span id='xtext' style="font-family: Unbounded;" data-fake="5207186394">X</span>
                </span>
              </div>
              <p style='margin-bottom: 2px !important;' class="project1info">
                Faster Results
              </p>
              </div>

              </div>
              <div class="card card3 numbers" style='width: 32%;'>
                <img class='flex-items4' style="border-radius:20px" src="./assets/images/Frame 110 (3).png" alt="">
                <div class="contentdiv">
                  <div class="numbers">
                    <span class="numbers__window">
                        <span  #boxElement  class="numbers__window__digit numbers__window__digit--2" data-fake="8642519073">5</span>
                    </span>
                    <span class="numbers__window">
                        <span  #boxElement  class="numbers__window__digit numbers__window__digit--3" data-fake="8395216407">0</span>
                    </span>
                    <span class="numbers__window">
                      <span  #boxElement  class="numbers__window__digit numbers__window__digit--3" data-fake="8395216407">0</span>
                  </span>
                    <span class="">
                      <span  style="font-family: Unbounded;" data-fake="5207186394">+</span>
                  </span>
                </div>
                <p style='margin-bottom: 2px !important;' class="project1info">
                  Satisfied Clients
                </p>
                </div>
                </div>
          </div>
          <div #boxElement [@fadeIn] class="flex5">
            <!-- <div class="flex_of_5" id="exploreService">
              <h1 id="header_services" class="flex-items5">SERVICES</h1>
              <p class="flex-items5" id="service_para"></p>
            </div> -->
            <div class="hero" id="exploreService">
              <h1 class="gallery-text">SERVICES</h1>
              <div class="gall-para">
                <p>Our services are transparently priced for optimal customer satisfaction. Check out our selection of high-quality services at affordable rates.</p>
              </div>
            </div>
            <hr>
            <div class="">
              <h2 class="flex-items5 serp serviceHead">Service Listings with Pricing</h2>
              <p class="flex-items5 serp servicePara" id="">Services displayed are for samples that utilize the Equipment depicted in the table. The prices are excluding taxes (GST 18%)</p>
            </div>
          </div>

          <div *ngIf="screenWidth >= 650"  class="flex6">
            <table>
              <caption [routerLink]='["/service"]' style="cursor: pointer;"> View All <span><img src="./assets/images/Vector.svg" alt=""></span></caption>
              <tbody>
              <tr>
                <th>Equipment</th>
                <th>Industry</th>
                <th>Students</th>
              </tr>
              <tr [routerLink] ='["/service/x-ray-diffraction-xrd"]'>
                <td>X-Ray Diffraction</td>
                <td>₹1500</td>
                <td>₹750</td>
              </tr>
              <tr [routerLink] ='["/service/x-ray-fluorescence-xrf"]'>
                <td>X-Ray Fluorescence</td>
                <td>₹2000</td>
                <td>₹1500</td>
              </tr>
              <tr [routerLink] ='["/service/scanning-electron-microscope-sem"]'>
                <td>Scanning Electron Microscope (3 images)</td>
                <td>₹2000</td>
                <td>₹1000</td>
              </tr>
              <tr [routerLink] ='["/service/scanning-electron-microscope-sem-gold-sputtering"]'>
                <td>Scanning Electron Microscope with Gold Sputtering (3 images)</td>
                <td>₹2500</td>
                <td>₹1250</td>
              </tr>
              <tr [routerLink] ='["/service/laser-particle-size-analyzer-psa"]'>
                <td>Laser Particle Size Analyser (PSA)</td>
                <td>₹2000</td>
                <td>₹1500</td>
              </tr>
              <tr [routerLink] ='["/service/thermal-expansion-dilatometer-up-to-1000degc"]'>
                <td>Thermal Expansion (Dilatometer up to 1000°C)</td>
                <td>₹2000</td>
                <td>₹1500</td>
              </tr>
              <tr [routerLink] ='["/service/bet-analysis"]'>
                <td>BET Analysis</td>
                <td>₹4000</td>
                <td>₹2500</td>
              </tr>
              <tr [routerLink] ='["/service/pin-on-disc-tribometer-wear"]'>
                <td>Pin On Disc Tribometer (Wear)</td>
                <td>₹1500</td>
                <td>₹1000</td>
              </tr>
              <tr [routerLink] ='["/service/pellet-press-10-tone"]'>
                <td>Pellet Press (10 tons)</td>
                <td>₹500</td>
                <td>₹200</td>
              </tr>
              <tr [routerLink] ='["/service/planetary-mill-with-tungsten-carbide-balls"]'>
                <td>Planetary Mill TC Balls & Vial per hour</td>
                <td>₹600</td>
                <td>₹300</td>
              </tr>
              <tr [routerLink] ='["/service/box-furnace-up-to-1600degc"]'>
                <td>Box Furnace from 1200-1600°C (5°C ramp and 3 hrs dwell)</td>
                <td>₹3000-7500</td>
                <td>₹2000-5000</td>
              </tr>
              <tr [routerLink] ='["/service/tubular-furnace-with-controlled-atmosphere-1600degc"]'>
                <td>Tubular Furnace with Cont. atm. 1200-1400°C with Cold Vacuum & Argon Purging</td>
                <td>₹5000-7500</td>
                <td>₹3500-5000</td>
              </tr>
              <tr [routerLink] ='["/service/microwave-furnace-up-to-1500degc"]'>
                <td>Microwave Furnace up to 1600°C (20°C ramp & 30 min dwell)</td>
                <td>₹5000</td>
                <td>₹3500</td>
              </tr>
              <tr [routerLink] ='["/service/spin-coating"]'>
                <td>Spin Coater</td>
                <td>₹800</td>
                <td>₹400</td>
              </tr>
              <tr [routerLink] ='["/service/spray-pyrolysis"]'>
                <td>Spray Pyrolysis</td>
                <td>₹3000</td>
                <td>₹1000</td>
              </tr>
              <tr [routerLink] ='["/service/dip-coating"]'>
                <td>Dip Coater</td>
                <td>₹500</td>
                <td>₹250</td>
              </tr>
              <tr [routerLink] ='["/service/hot-modulus-of-rupture-hmor"]'>
                <td>Cold / Fired MOR (max three samples)</td>
                <td>₹3000</td>
                <td>₹1500</td>
              </tr>
              <tr [routerLink] ='["/service/aluminium-stir-casting"]'>
                <td>Aluminium Stir Casting</td>
                <td>₹5000</td>
                <td>₹2500</td>
              </tr>
              <tr [routerLink] ='["/service/magnesium-stir-casting"]'>
                <td>Magnesium Stir Casting</td>
                <td>₹6000</td>
                <td>₹4000</td>
              </tr>
              </tbody>
            </table>
          </div>
          
          <div *ngIf="screenWidth <= 649"  class="flex6">
            <table>
              <caption style='cursor: pointer;' [routerLink]='["/service"]'>View All <span><img src="./assets/images/Vector.svg" alt=""></span></caption>
              <tbody>
              <tr>
                <th>Equipment</th>
                <th>Industry/Students</th>
              </tr>
              <tr [routerLink] ='["/service/x-ray-diffraction-xrd"]'>
                <td>X-Ray Diffraction</td>
                <td>₹1500/₹750</td>
              </tr>
              <tr [routerLink] ='["/service/x-ray-fluorescence-xrf"]'>
                <td>X-Ray Fluorescence</td>
                <td>₹2000/₹1500</td>
              </tr>
              <tr [routerLink] ='["/service/scanning-electron-microscope-sem"]'>
                <td>Scanning Electron Microscope (3 images)</td>
                <td>₹2000/₹1000</td>
              </tr>
              <tr [routerLink] ='["/service/scanning-electron-microscope-sem-gold-sputtering"]'>
                <td>Scanning Electron Microscope with Gold Sputtering (3 images)</td>
                <td>₹2500/₹1250</td>
              </tr>
              <tr [routerLink] ='["/service/laser-particle-size-analyzer-psa"]'>
                <td>Laser Particle Size Analyser (PSA)</td>
                <td>₹2000/₹1500</td>
              </tr>
              <tr [routerLink] ='["/service/thermal-expansion-dilatometer-up-to-1000degc"]'>
                <td>Thermal Expansion (Dilatometer up to 1000°C)</td>
                <td>₹2000/₹1500</td>
              </tr>
              <tr [routerLink] ='["/service/bet-analysis"]'>
                <td>BET Analysis</td>
                <td>₹4000/₹2500</td>
              </tr>
              <tr [routerLink] ='["/service/pin-on-disc-tribometer-wear"]'>
                <td>Pin On Disc Tribometer (Wear)</td>
                <td>₹1500/₹1000</td>
              </tr>
              <tr [routerLink] ='["/service/pellet-press-10-tone"]'>
                <td>Pellet Press (10 tons)</td>
                <td>₹500/₹200</td>
              </tr>
              <tr [routerLink] ='["/service/planetary-mill-with-tungsten-carbide-balls"]'>
                <td>Planetary Mill TC Balls & Vial per hour</td>
                <td>₹600/₹300</td>
              </tr>
              <tr [routerLink] ='["/service/box-furnace-up-to-1600degc"]'>
                <td>Box Furnace from 1200-1600°C (5°C ramp and 3 hrs dwell)</td>
                <td>₹3000-7500/₹2000-5000</td>
              </tr>
              <tr [routerLink] ='["/service/tubular-furnace-with-controlled-atmosphere-1600degc"]'>
                <td>Tubular Furnace with Cont. atm. 1200-1400°C with Cold Vacuum & Argon Purging</td>
                <td>₹5000-7500/₹3500-5000</td>
              </tr>
              <tr [routerLink] ='["/service/microwave-furnace-up-to-1500degc"]'>
                <td>Microwave Furnace up to 1600°C (20°C ramp & 30 min dwell)</td>
                <td>₹5000/₹3500</td>
              </tr>
              <tr [routerLink] ='["/service/spin-coating"]'>
                <td>Spin Coater</td>
                <td>₹800/₹400</td>
              </tr>
              <tr [routerLink] ='["/service/spray-pyrolysis"]'>
                <td>Spray Pyrolysis</td>
                <td>₹3000/₹1000</td>
              </tr>
              <tr [routerLink] ='["/service/dip-coating"]'>
                <td>Dip Coater</td>
                <td>₹500/₹250</td>
              </tr>
              <tr [routerLink] ='["/service/hot-modulus-of-rupture-hmor"]'>
                <td>Cold / Fired MOR (max three samples)</td>
                <td>₹3000/₹1500</td>
              </tr>
              <tr [routerLink] ='["/service/aluminium-stir-casting"]'>
                <td>Aluminium Stir Casting</td>
                <td>₹5000/₹2500</td>
              </tr>
              <tr [routerLink] ='["/service/magnesium-stir-casting"]'>
                <td>Magnesium Stir Casting</td>
                <td>₹6000/₹4000</td>
              </tr>
              </tbody>
            </table>
          </div>


          <br>
    <div class="flex7">
      <!-- <div class="flex_of_7">
        <h1 id="header_facility" class="flex-items5">FACILITIES</h1>
        <p class="flex-items5" id="facility_para">The Lab facilities available for extensive research in our Research Centre. Check out our selection of high-quality services.</p>
      </div> -->
      <div class="facilities_7">
        <div class="hero">
          <h1 class="gallery-text1" style="color: #FFF;">FACILITIES</h1>
          <div class="gall-para" style="color: #FFF;">
            <p>The Lab facilities available for extensive research in our Research Centre. Check out our selection of high-quality services.</p>
          </div>
        </div>
      </div>
      <hr style="color:white;" class="hr_tag">
  
      <div id="accordion">
  <div class="card" style="margin-bottom: 20px;">
    <div class="card-header" id="headingOne">
      <h5 (click)="changeImage()" style="align-items: center;"  class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <img class='facimg' src="./assets/images/Frame 132.png" alt="">
        <div>
          <h2 class='acctext1'>Advanced Material Synthesis</h2>
          <p class='acctext2'>Materials Science</p>
        </div>
        <button (click)="changeImage9()" style="margin-left:auto" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <img id='arrimg' [src]="images[currentImageIndex]"  alt="">
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Material synthesis refers to the process of creating new materials with desired properties by combining or manipulating different substances. It involves designing and fabricating materials at the atomic and molecular levels to achieve specific characteristics such as strength, conductivity, or flexibility. Various techniques, such as chemical synthesis, crystal growth, and nanotechnology, are employed to control the composition, structure, and morphology of the materials. Material synthesis plays a crucial role in fields like materials science, engineering, and manufacturing, enabling the development of advanced materials for diverse applications.
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 20px;">
    <div class="card-header" id="headingTwo">
      <h5 style="align-items: center;" (click)="changeImage2()"  class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <img src="./assets/images/Frame 132 (1).png" alt="" class='facimg'>
        <div>
          <h2 class='acctext1'>Nano Materials</h2>
          <p class='acctext2'>Nanotechnology</p>
        </div>
        <button (click)="changeImage10()" style="margin-left:auto" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <img class='arrimg' [src]="images[currentImageIndex2]"  alt="">
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Our services encompass the precision fabrication of nanoscale substances through advanced synthesis techniques. This entails skilfully tailoring properties via size, composition, and structural manipulation. These purposefully engineered materials showcase exceptional traits, including heightened strength, reactivity, and conductivity. Nano materials synthesis stands as a pivotal discipline propelling breakthroughs in electronics, medicine, and energy sectors, catalysing a transformative shift in technology and material paradigm.
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 20px;">
    <div class="card-header" id="headingThree">
      <h5 style="align-items: center;" (click)="changeImage3()"  class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <img src="./assets/images/Frame 132 (2).png" alt="" class='facimg'>
        <div>
          <h2 class='acctext1'>Sanitaryware as per IS</h2>
          <p class='acctext2'>Manufacturing and Materials Science</p>
        </div>
        <button (click)="changeImage11()" style="margin-left:auto" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <img class='arrimg' [src]="images[currentImageIndex3]" alt="">
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Our services are in accordance with the Bureau of Indian Standards (BIS), ensuring quality and safety across bathroom fixtures such as toilets, washbasins, and urinals. BIS guidelines guarantee reliable, superior products by promoting adherence to specifications, dimensions, and testing procedures, thereby ensuring uniformity and consumer safety throughout our offerings.
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 20px;">
    <div class="card-header" id="headingFour">
      <h5 style="align-items: center;" (click)="changeImage4()"  class="mb-0" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <img src="./assets/images/Frame 132 (3).png" alt="" class='facimg'>
        <div>
          <h2 class='acctext1'>Refractories as per IS</h2>
          <p class='acctext2'>Manufacturing and Industrial Processes</p>
        </div>
        <button (click)="changeImage12()" style="margin-left:auto" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <img class='arrimg' [src]="images[currentImageIndex4]" alt="">
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Our services ensure that refractory materials meet the standards set by the Bureau of Indian Standards (BIS). These materials are utilized in furnace linings across steel, cement, and glass industries, with BIS regulations guaranteeing their quality and durability even under high temperatures. Manufacturers adhere to BIS guidelines, thereby providing dependable and efficient solutions that enhance industrial safety, consistency, and elevate the overall quality of refractories in India.
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 20px;">
    <div class="card-header" id="headingFive">
      <h5 style="align-items: center;" (click)="changeImage5()"  class="mb-0" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <img src="./assets/images/Frame 132 (4).png" alt="" class='facimg'>
        <div>
          <h2 class='acctext1'>Ceramic Tiles as per IS</h2>
          <p class='acctext2'>Materials Science, Codes and Standards</p>
        </div>
        <button (click)="changeImage13()" style="margin-left:auto" class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <img class='arrimg' [src]="images[currentImageIndex5]" alt="">
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        We make sure Ceramic Tiles adhere to Bureau of Indian Standards (BIS) guidelines, widely employed for flooring and walls, meeting stringent quality and safety benchmarks. Manufacturers strictly follow BIS standards, ensuring top-notch material quality, precise dimensions, and rigorous testing protocols. This commitment fosters trustworthy and secure ceramic tile choices throughout India.
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 20px;">
    <div class="card-header" id="headingSix">
      <h5 style="align-items: center;" (click)="changeImage6()"  class="mb-0" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        <img src="./assets/images/Frame 132 (5).png" alt="" class='facimg'>
        <div>
          <h2 class='acctext1'> Advanced Characterization</h2>
          <p class='acctext2'>Spectroscopy, Surface Analysis</p>
        </div>
        <button (click)="changeImage14()" style="margin-left:auto" class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <img class='arrimg' [src]="images[currentImageIndex6]" src="./assets/images/double arrow_.svg" alt="">
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse " aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        Utilizing sophisticated techniques, advanced material characterization offers comprehensive insights into micro and nanoscale properties and behaviour. Employing microscopy, spectroscopy, and diffraction, it analyses composition, crystallography, and mechanics, driving optimization, novel applications, and progress in materials science, engineering, and manufacturing. This pivotal role shapes innovation and extends material capabilities.
      </div>
    </div>
  </div>
</div>
</div>

<div style='padding: 0px 20px;'>
  <h1 class="review_head">Trusted by Students and Scholars over India</h1>
  <p class="review_p">Some of the few reviews that were publicly shared</p>
</div>



<div id='customer' style='margin-bottom: -11px;'>
   <owl-carousel-o [ngClass]="{ item: true }" [options]="customOptions2" >
    <ng-template  carouselSlide>
      <div>
        <div class="card9">
          <img class='flex-items9' style="border-radius:20px;width:60px" src="./assets/images/Frame 11713.png" alt="">
          <p class="info9">
            Very prompt and neat services provided by VBCC and its staff. They provide dilatometer, ball milling, furnaces and other  characterization facilities for research at affordable rates for students. Reliable and trust worthy
          </p>
          <p class="info91">
            Praveen M
          </p>
          </div>
      </div>

    </ng-template>
    <ng-template carouselSlide>
      <div class="card9">
        <img class='flex-items9' style="border-radius:20px;width:60px" src="./assets/images/dev.png" alt="">
        <p class="info9">
          VB Ceramic Research Centre does advanced Testing research like Micro Crystal structure studies. These results are very useful for us (ADITHYA CHEMICALS) for  quality improvement of steel plant high temperature application refractory product.
        </p>
        <p class="info91">
          Devarajan Gnanasundaram
        </p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card9">
        <img class='flex-items9' style="border-radius:20px;width:60px" src="./assets/images/raja.png" alt="">
        <p class="info9">
          VB Ceramics has excellent facilty in the area of Nanomaterials synthesis. The research centre has following facilities like XRD,SEM, and even furnaces  for heat treatments. I fully recommend this research centre for all the students.
        </p>
        <p class="info91">
          Raja Rajan
        </p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card9">
        <img class='flex-items9' style="border-radius:20px;width:60px" src="./assets/images/francis.png" alt="">
        <p class="info9">
          Very good reception, excellent equipment, qualified staffs and excellent scientist where our all the testing and research activities are on time. Well maintained and has state of the art technologies.
        </p>
        <p class="info91">
          Francis Xavier
        </p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card9">
        <img class='flex-items9' style="border-radius:20px;width:60px" src="./assets/images/ram.png" alt="">
        <p class="info9">
          Different shaping techniques are available and pressing extrusion , casting and aluminium stir casting are available in Dr VB Ceramic Research Centre. SEM analysis is very quick and very good.
        </p>
        <p class="info91">
          Ramkumar A
        </p>
        </div>
    </ng-template>

  </owl-carousel-o>     
  <hr id="hr_tag" style='color:white'>      
</div>


<div class="flex8" id="ContactUs">
 <div id='flex_con' style=''>
  <div id='top_con'>
    <h1 id='head_con'>VBCRC</h1>
    <h1 id='head_con'>Newsletter</h1>
  </div>
  <div id='sign_con'>
    <p id='con_p'>Sign up and get </p>
    <ul id='ul_con'>
      <li>Information about all our Discounts</li>
      <li>Articles from our Research Centre</li>
      <li>Season/Festive and Referral Codes</li>
    </ul>
  </div>
  <div id='action_con'>
    <input placeholder='Email' id='con_input'>
    <button id='con_button'>Subcribe</button>
  </div>
 </div>
</div>

  <div class='flex10'>
    <div class='card10'>
      <p style="font-weight:500; margin-bottom: 10px;">COMPANY</p>
      <img id="card1img" src="./assets/images/foot1.png" alt="" [routerLink]='["/"]' style="cursor: pointer;">
      <br>
      <br>
      <p style='font-size:16px !important;'>3rd Link st, Nehru Nagar, Rajiv Gandhi Salai, Industrial Estate, Kottivakkam,
        Chennai - 600 041</p>
    </div>
    <div class='card10'>
      <p style="font-weight:500; margin-bottom: 10px;">SITEMAP</p>
      <ul style="display: flex; flex-direction: column; gap: 8px;">
        <li [routerLink]='["/"]'>Home</li>
        <li [routerLink] ='["/about"]'>About Us</li>
        <li [routerLink] ='["/service"]'>Services</li>
        <li [routerLink] ='["/gallery"]'>Gallery</li>
        <li [routerLink]='["/contact"]'>Contact Us</li>
      </ul>
    </div>
    <div class='card10'>
      <div>
        <p style="font-weight:500; margin-bottom: 10px;">SERVICES</p>
        <ul style="display: flex; flex-direction: column; gap: 8px;">
          <li [routerLink] ='["/service"]'>All Services</li>
          <li [routerLink] ='["/service/x-ray-diffraction-xrd"]'>X-Ray Diffraction</li>
          <li [routerLink] ='["/service/scanning-electron-microscope-sem"]'>SEM (3 Images)</li>
          <li [routerLink] ='["/service/x-ray-fluorescence-xrf"]'>X-Ray Fluorescence</li>

        </ul>
      </div>
      <div style="margin-top: 20px;">
        <p style="font-weight:500; margin-bottom: 10px;">SOCIALS</p>
        <div style='display: flex;flex-direction:row;gap:20px'>
          <img src="./assets/images/mdi_linkedin (1).svg" alt="" (click)="socials('linkedIn')">
          <img src="./assets/images/YouTube svg.svg" alt="" (click)="socials('youtube')">
          <img src="./assets/images/Facebook svg.svg" alt="" (click)="socials('facebook')">
        </div>
      </div>
    </div>
    <div class='card10'>
      <div>
        <p style="font-weight:500; margin-bottom: 10px;">SUPPORT</p>
        <ul style="display: flex; flex-direction: column; gap: 8px;">
          <li [routerLink]='["/contact"]'>Contact Us</li>
          <li [routerLink]='["/contact"]'>Help centre</li>
        </ul>
      </div>
      <div style="margin-top: 20px;">
        <p style="font-weight:500; margin-bottom: 10px;">OUR GROUPS</p>
        <div style="display: flex; gap: 20px">
          <img src="./assets/images/foot2.png" alt="" (click)="ourGroups('vbcc')">
          <img src="../../assets//gallery-page-img/hi-tech.png" alt="" (click)="ourGroups('hiTemp')">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>

<footer>
  <div class='footer'>
    <p  id='footer_p' style='padding: 20px 30px 0px 20px;'>©VB Ceramic Research Centre. All Rights Reserved.</p>
    <div class='cardfooter'>
      <p>English <span><img src="./assets/images/mdi_web.svg" alt=""></span></p><div class="separator"></div>
      <p>INR <span><img src="./assets/images/material-symbols_currency-rupee.svg" alt=""></span></p><div class="separator"></div>
      <p>Asia (India) <span><img src="./assets/images/mdi_clock.svg" alt=""></span></p>
    </div>
  </div>
</footer>
</html>



<!-- <app-home-service></app-home-service>
<app-contact></app-contact> -->