/* body */
body{}

/* Navbar */
.navbar-brand{padding: 0px 40px 0px 40px;color:white !important;font-family: Unbounded;font-size: 16px;font-style: normal;font-weight: 600;line-height: 16px; }
.bg-light {background-color: #132249 !important;}
.nav-link{color:white!important;display: flex;padding: 20px;justify-content: center;align-items: center;gap: 8px;font-family: Schibsted Grotesk;}
.nav-link:hover{color:grey!important}
#navbarSupportedContent{padding-right: 40px;}



/* header */
#top_header{color: #132249;text-align:center;font-variant-numeric: lining-nums tabular-nums;font-family: Unbounded;font-style: normal;font-weight: 700;line-height: normal;text-transform: uppercase;letter-spacing: 1.5px;}
h2{
  color: #000;
font-family: Unbounded;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
text-transform: uppercase;
}
#header_services{
color: #132249;
font-family: Unbounded;
font-size: 70px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#header_facility{
  color:white;
  font-family: Unbounded;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }


/* p */

#service_para{
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  flex:1;
  place-self:center;
}
#facility_para{
  color: white;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  place-self:center;
  flex:1;
}
#contact_para{
  color: black;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 57%;
  place-self:center;
}
#para{width: 80%;font-size: 20px;color: #000;font-family: Schibsted Grotesk;font-style: normal;font-weight: 400;text-align: center;}
#para_two{color: white;text-align: center;font-family: Schibsted Grotesk;font-size: 14px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;}

/* container */

.container-fluid{padding: 0px;display: flex;gap: 10px;flex-direction: column;margin: 0px;justify-content: center;}
.container-fluid1{display: flex;gap: 10px;flex-direction: column;margin: 0px;justify-content: center;}
.responsive {
  width: 100%;
}
.responsive h1 {
  font-size: 10px !important;
}



/* span{color: #333;text-align: center;font-family: Unbounded;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: 0.1px;} */

.flex-items {width:40px !important;height: 40px;text-align: left;}

.flex4 {
  display: flex;
  flex-wrap: wrap;
  background-color: #132249;
  gap: 60px;
  padding: 60px;
  justify-content: center;
}

.flex9 {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 10px;
  justify-content: center;
  flex-direction: row;
}

.flex10{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  flex-direction: row;
  
}

.separator{
  background: #FFF;
  width: 1px;
  height: 26px;
}

.flex5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 40px;
}
.flex_of_5{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap:27px;
}

.flex-item4 {
  padding: 5px;
  width: 200px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.project1info{
  width:auto;
  background-color:white;
  text-align: center;
  font-size: 16px;
  font-family: Unbounded;
}

.card{
  border-radius:20px;
}

.card9{
  border-radius:20px;
  min-width: 320px;
  max-width: 340px;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(24, 25, 119, 0.10);
  background: #132249;
  color: white;
}

.card10{
  min-width: 320px;
  max-width: 340px;
  padding: 5px 40px;
}

.card10 p {
  font-size: 20px;
}
.card10 ul{
  padding-left:0px;
}

.card10 li {
  font-size: 16px;
  background: url(/assets/images/arrowright.svg) left no-repeat;
  list-style-type: none;
  padding-left: 20px;

}

.column {
  display: contents; /* the child elements would be grid items */
  border: 1px solid #C7D6DA;
  margin: 5px;
}

.cell,.cell1,.cell2,.cell3 {
  background: #FFF;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  padding: 10px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  font-family: Schibsted Grotesk;
}

.cell1,.cell2,.cell3{
background: #FAFBFF !important;
box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset !important;
}

.flex6 {
  display: grid; /* grid containers */
  grid-template-columns: repeat(3, 1fr); /* four columns */
  grid-template-rows: repeat(24, 1fr); /* four rows */
  grid-auto-flow: column; /* in column direction */
  border-radius: 10px;
  border: 1px solid #C7D6DA;
  margin: 0px 40px;
}
.one{
  background: #C7D6DA;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  font-family: Unbounded !important;
}

.last{
  background: #C7D6DA;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  text-align: center;
  padding-top: 20px;
}

.flex7{
  background-color: #132249;
}
.flex-items9{
padding:0px 0px 15px 0px;
}

.info9{
height:60%
}

.mb-0{
  display:flex;flex-direction:row;gap:20px;flex-wrap:wrap;
}

.flex_of_7{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:27px;
  padding: 24px 20px 5px 42px;
  }

  #accordion{
    padding: 0px 40px;
  }

  #name,#email{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px !important;
    background: #EDF1FD !important;
  }

  #message{
    border-radius: 8px;
    background: #EDF1FD;
    display: flex;
    height: 140px;
    width:inherit;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border:none !important;
  }

  #message_button{
    width: inherit;
  background-color: #132249;
  }

  .footer{
    display: flex;
    flex-direction: row;
    background-color: #132249;
    color: white;
  }

  .cardfooter{
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
    padding: 20px 20px 0px 20px;
  }

  .flex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex8{
    /* background: url(/assets/images/bg_con.jpeg) center no-repeat,linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),#99ABD8; */
   
    background-image: linear-gradient( rgba(0, 0, 0, 0.60) 0%, rgba(10, 41, 76, 0.60) 0%), url(/assets/images/bg_con.jpeg);
    background-color:#99ABD8;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
  }

  .form-group , .form-row{
    padding: 0px;
  }

  h4{
    color:white;
  }

  @media screen and (min-width: 1200px) {
    #top_header {
      font-size: 3.3rem;
      letter-spacing: 4.5px;
    }
  }
  
  .navbar-light .navbar-toggler-icon {
    background: url(/assets/images/menu_own.svg) left no-repeat;
  }
 
  .slide{    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  .college {
  margin: 10px 0px 20px 0px;
  color:white;
  font-size: 14px;
  font-family: Unbounded;
  }

  .owl-item {width: 128.906px !important; }

  #hr_tag{
    width: 90%;
    margin: auto;
    color: white;
    border: 1px solid white;
    text-align: center;
  }

  .numbers {
    font-family: 'Arial', sans-serif;
    line-height: 1em;
    font-size: 30px;
    text-align: center;
    margin: 15px 0px 0px 0px;
    overflow: hidden;
    color: #000;
    /* font-family: Unbounded;
    font-size: 48px; */
    font-style: normal;
    font-weight: 600;
    
  }

  .numbers__window {
    display: inline-block;
    overflow: hidden;
    width: 0.5em;
    height: 1em;
  }

  .numbers__window__digit {
    font: inherit;
    word-break: break-all;
    display: block;
    width: 0;
    padding: 0 0.52em 0 0;
    margin: 0 auto;
    overflow: inherit;
    animation: counting 0.4s steps(10) forwards infinite;  
  }



  .numbers__window__digit::before {
    content: attr(data-fake);
    display: inline-block;
    width: 100%;
    height: auto;
  }




  @keyframes counting {
    100% {
      transform: translate3d(0, -10em, 0);
    }
  }

  .numbers__window__digit--1 {
    animation-iteration-count: 9;
  }

  .numbers__window__digit--2 {
    animation-iteration-count: 9;
  }

  .numbers__window__digit--3 {
    animation-iteration-count: 9;
  }

  .numbers__window__digit--4 {
    animation-iteration-count: 12;
  }
  .numbers__window__digit--5 {
    animation-iteration-count: 15;
  }

  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block !important;
}

#head_con,#ul_con,#action_con,#con_p{
  color:white;

}

#con_input{
  border-radius: 8px;
  border: 1px solid #FFF;
  min-width: 160px;
  padding: 8px 16px;
  background:transparent;
}

#con_button{
margin-left:15px;
border-radius: 8px;
background: #FFF;
padding: 8px 16px;
justify-content: center;
}

#head_con{
  font-size: 40px;
  font-weight: 500;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #132249 !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.carousel-control-prev-icon {
  background-image: none !important;
  border-radius: 40px;
  border: 1px solid #FFF;
  background-color: #132249;
  width:25%;
  padding:0px 5px;
  position: absolute;
right: 120px;
bottom: 39.667px;
}

.carousel-control-next-icon {
  background-image: none !important;
  border-radius: 40px;
  border: 1px solid #FFF;
  background-color: #132249;
  width:25%;
  padding:0px 5px;
  position: absolute;
right: 120px;
bottom: 39.667px;
}

.carousel-control-prev {
  left: 80%;
  opacity:unset !important;
}

.carousel-control-next {
  opacity:unset !important;
}

.carousel-caption {
  right: 64% ;
  left: -9% ;

}
#car_button_1{
  border-radius: 20px;
  border: 1px solid #FFF;
  background-color: #132249;
  color:white;
  padding:10px;
  font-size: 16px;
  display: inline-block;
}
#car_button_2{
border-radius: 20px;
border: 1px solid #FFF;
background: #132249;
color:white;
padding:10px;
font-size: 16px;
margin-left:15px;
}

.flex-items4{
  margin:20px;
}

#flex_con{
  display: flex;
  padding: 40px 60px;
  align-items: center;
  align-content: center;
  gap: 20px 40px;
  flex-wrap: wrap;
}

/* media queries for contact */
@media only screen and (max-width: 600px) {
  #flex_con {
  flex-direction: column;
  align-items: unset;
  }
}

#top_con,#sign_con,#action_con{
  flex:auto !important;
}

@media only screen and (max-width: 1003px){
  #top_con,#sign_con,#action_con{
    flex:1 0 0 !important;
  }
}
@media only screen and (max-width:1003px) and (min-width: 601px)  {
  #con_input {
  width:70%;
  }
  #top_con,#sign_con,#action_con{
    flex:auto !important;
  }
  #action_con{
    width:100%;
  }
}

@media only screen and (max-width: 900px) {
  #facility_para,#service_para{
    flex:auto;
  }
  #header_facility{
    text-align: center;
  }
}

@media only screen and (max-width: 1150px) {
  .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 1.75rem;
    left: 62%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.carousel-control-next, .carousel-control-prev{
  bottom:70px;
}
.carousel-control-next-icon{
  right:94px;
}
.carousel-control-prev-icon{
  right:110px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  width: 35%;
}
#car_button_1,#car_button_2{
  font-size: 13px;
}
}

@media only screen and (max-width: 750px) {
  .carousel-control-next, .carousel-control-prev{
    bottom:0px;
  }
  .carousel-control-prev-icon{
    right:140px;
  }
  .carousel-control-prev-icon{
    right:110px;
  }
  .carousel-control-prev-icon,.carousel-control-next-icon{
    width: 45%;
  }
}

@media only screen and (max-width: 800px) {
  .cardfooter{
    display: none;
  }
  .footer{
    flex-direction: column-reverse;
    text-align: center;
  }
}
