/* body */
body{}


/* Navbar */
.navbar-brand{padding: 0px 40px 0px 40px;color:white !important;font-family: Unbounded;font-size: 16px;font-style: normal;font-weight: 600;line-height: 16px; }
.bg-light {background-color: #132249 !important;}
.nav-link{color:white!important;display: flex;padding: 20px;justify-content: center;align-items: center;gap: 8px;}
.nav-link:hover{color:grey!important}
#navbarSupportedContent{padding-right: 40px;}



/* header */
#top_header{color: #132249;text-align:center;font-variant-numeric: lining-nums tabular-nums;font-family: Unbounded;font-style: normal;font-weight: 700;line-height: normal;text-transform: uppercase;letter-spacing: 1.5px;}
h2{
  color: #000;
font-family: Unbounded;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
text-transform: uppercase;
}
#header_services{
color: #132249;
font-family: Unbounded;
font-size: 82px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#header_facility{
  color:white;
  font-family: Unbounded;
  font-size: 82px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }


/* p */

#service_para{
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 66%;
  place-self:center;
}
#facility_para{
  color: white;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 60%;
  place-self:center;
}
#contact_para{
  color: black;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 57%;
  place-self:center;
}
#para{font-size: 20px;color: #000;font-family: Schibsted Grotesk;font-style: normal;font-weight: 400;text-align: center;}
#para_two{color: white;text-align: center;font-family: Schibsted Grotesk;font-size: 14px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;}

/* container */

.container-fluid{padding: 0px;display: flex;gap: 10px;flex-direction: column;margin: 0px;justify-content: center;}
.container-fluid1{display: flex;gap: 10px;flex-direction: column;margin: 0px;justify-content: center;}
.responsive {
  width: 100%;
}
.responsive h1 {
  font-size: 10px !important;
}



/* span{color: #333;text-align: center;font-family: Unbounded;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: 0.1px;} */

.flex-items {width:60px !important;height: 60px;margin: 10px -1px 15px 50px;text-align: center;font-size: 34px;}

.flex4 {
  display: flex;
  flex-wrap: wrap;
  background-color: #132249;
  gap: 60px;
  padding: 60px;
  justify-content: center;
}

.flex9 {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 10px;
  justify-content: center;
  flex-direction: row;
}

.flex10{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  flex-direction: row;
  background: #EDF1FD;
}

.flex5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 40px;
}
.flex_of_5{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap:27px;
}

.flex-item4 {
  padding: 5px;
  width: 200px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.project1info{
  width:auto;
  background-color:white;
  text-align: center;

}

.card{
  border-radius:20px;
}

.card9{
  border-radius:20px;
  min-width: 320px;
  max-width: 340px;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(24, 25, 119, 0.10);
  background: #132249;
  color: white;
}

.card10{
  min-width: 320px;
  max-width: 340px;
  padding: 5px 40px;
}

.card10 p {
  font-size: 20px;
}
.card10 ul{
  padding-left:0px;
}

.card10 li {
  font-size: 16px;
  background: url(/assets/images/arrowright.svg) left no-repeat;
  list-style-type: none;
  padding-left: 20px;

}

.column {
  display: contents; /* the child elements would be grid items */
  border: 1px solid #C7D6DA;
  margin: 5px;
}

.cell,.cell1,.cell2,.cell3 {
  background: #FFF;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  padding: 10px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.cell1,.cell2,.cell3{
  background: #FAFBFF !important;
box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset !important;
}

.flex6 {
  display: grid; /* grid containers */
  grid-template-columns: repeat(3, 1fr); /* four columns */
  grid-template-rows: repeat(24, 1fr); /* four rows */
  grid-auto-flow: column; /* in column direction */
  border-radius: 10px;
  border: 1px solid #C7D6DA;
  margin: 0px 40px;
}
.one{
  background: #C7D6DA;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
}

.last{
  background: #C7D6DA;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  text-align: center;
}

.flex7{
  background-color: #132249;
}
.flex-items9{
padding:0px 0px 15px 0px;
}

.info9{
height:60%
}

.mb-0{
  display:flex;flex-direction:row;gap:20px;flex-wrap:wrap;
}

.flex_of_7{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:27px;
  padding: 24px 16px 5px 20px;
  }

  #accordion{
    padding:20px;
  }

  #name,#email{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px !important;
    background: #EDF1FD !important;
  }

  #message{
    border-radius: 8px;
    background: #EDF1FD;
    display: flex;
    height: 140px;
    width:inherit;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border:none !important;
  }

  #message_button{
    width: inherit;
  background-color: #132249;
  }

  .footer{
    display: flex;
    flex-direction: row;
    background-color: #132249;
    color: white;
  }

  .cardfooter{
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
    padding: 20px 20px 0px 20px;
  }

  .flex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex8{
    background: url(/assets/images/contact_bg.png) center no-repeat;
    padding: 40px;
  }

  .form-group , .form-row{
    padding: 0px;
  }

  h4{
    color:white;
  }

  @media screen and (min-width: 1200px) {
    #top_header {
      font-size: 3.96rem;
      letter-spacing: 4.5px;
    }
  }
  
  .navbar-light .navbar-toggler-icon {
    background: url(/assets/images/menu_own.svg) left no-repeat;
  }
 
  .slide{    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  .college {
  margin: 30px 10px;
  color:white;
  }

  .owl-item {width: 128.906px; margin-right: 10px; background:powderblue; }

  #hr_tag{
    width: 90%;
    margin: auto;
    color: white;
    border: 1px solid white;
    text-align: center;
  }