<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VBCRC</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div  class="col-md-12 ">
    <nav id="head_nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">VBCRC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About Us </a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Research</a>
          </li>
       
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>
</div>

  <div class="container-fluid">
    <div class="row">
      <div  class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 id="top_header">DR.VB’s ceramic research Centre</h1>
        <p id="para">Unleash your inner artist with our state-of-the-art Ceramic Research Centre. Dive into the world of magnificent ceramic creations.</p>
        <hr>
      </div>
    </div>
  </div>


</body>
</html>



<!-- <app-home-service></app-home-service>
<app-contact></app-contact> -->