/* body */
body{overflow-x: hidden;}

/* Navbar */
.navbar-brand{padding: 0px 40px 0px 40px;color:white !important;font-family: Unbounded;font-size: 16px;font-style: normal;font-weight: 600;line-height: 16px; }
.bg-light {background-color: #132249 !important;}
.nav-link{padding: 5px 20px;border-radius: 50px;color:white!important;font-family: Schibsted Grotesk;font-family: Schibsted Grotesk}
.nav-link:hover{background: #cdd9fa; color:#132249 !important;border-radius: 50px;font-family: Schibsted Grotesk;font-family: Schibsted Grotesk}
#navbarSupportedContent{padding-right: 40px;}
.navbar-nav{gap:20px;}
#nav_contact{
  background: #cdd9fa; color:#132249 !important;border-radius: 50px;font-family: Schibsted Grotesk;font-family: Schibsted Grotesk;text-decoration: none;
}

/* header */
#top_header{color: #132249;text-align:center;font-variant-numeric: lining-nums tabular-nums;font-family: Unbounded;font-style: normal;font-weight: 700;line-height: normal;text-transform: uppercase;letter-spacing: 1.5px;}
h2{
  color: #000;
font-family: Unbounded;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
text-transform: uppercase;
}
#header_services{
width: 50%;
color: #132249;
font-family: Unbounded;
font-size: 110px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#header_facility{
  color:white;
  font-family: Unbounded;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 50%;
  }


/* p */

#service_para{
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  flex:1;
  width: 50%;
  place-self:center;
}
#facility_para{
  color: white;
  font-family: Schibsted Grotesk;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  place-self:center;
  flex:1;
  width: 50%;
}
#contact_para{
  color: black;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 57%;
  place-self:center;
}
#para{width: 80%;font-size: 20px;color: #000;font-family: Schibsted Grotesk;font-style: normal;font-weight: 400;text-align: center;}
#para_two{color: white;text-align: center;font-family: Schibsted Grotesk;font-size: 14px;font-style: normal;font-weight: 600;line-height: normal;text-transform: uppercase;}

/* container */

.container-fluid{padding: 0px;display: flex;gap: 10px;flex-direction: column;margin: 0px;justify-content: center;}
.container-fluid1{display: flex;gap: 10px;flex-direction: column;margin: 0px;justify-content: center;}
.responsive {
  width: 100%;
}
.responsive h1 {
  font-size: 10px !important;
}



/* span{color: #333;text-align: center;font-family: Unbounded;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: 0.1px;} */

.flex-items {width:40px !important;height: 40px;text-align: left;}

.flex4 {
  display: flex;
  flex-wrap: wrap;
  background-color: #132249;
  gap: 20px;
  padding: 60px 30px;
  justify-content: center;
}

.flex9 {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 10px;
  justify-content: center;
  flex-direction: row;
}

.flex10{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
  justify-content: center;
  flex-direction: row;
  
}

.separator{
  background: #FFF;
  width: 1px;
  height: 26px;
}

.flex5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 40px;
}
.flex_of_5{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 50px;
}

.flex-item4 {
  padding: 5px;
  width: 200px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.project1info{
  width:auto;
  background-color:white;
  text-align: center;
  font-size: 16px;
  font-family: Schibsted Grotesk;
}

.card{
  border-radius:20px;
}

.card9{
  border-radius:20px;
  // min-width: 320px;
  // max-width: 340px;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(24, 25, 119, 0.10);
  background: #132249;
  color: white;
  margin: 0px 30px;
}

.card10{
  min-width: 320px;
  max-width: 340px;
  padding: 5px 40px;
}

.card10 p {
  font-size: 20px;
}
.card10 ul{
  padding-left:0px;
}

.card10 li {
  font-size: 16px;
  background: url(/assets/images/arrowright.svg) left no-repeat;
  list-style-type: none;
  padding-left: 20px;

}

.column {
  display: contents; /* the child elements would be grid items */
  border: 1px solid #C7D6DA;
  margin: 5px;
}

.cell,.cell1,.cell2,.cell3 {
  background: #FFF;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  padding: 10px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  font-family: Schibsted Grotesk;
}

.cell1,.cell2,.cell3{
background: #FAFBFF !important;
box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset !important;
}

.flex6 {
  border-radius: 10px;
  border: 1px solid #C7D6DA;
  margin: 0px 40px;
}
.one{
  background: #C7D6DA;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  font-family: Unbounded !important;
}

.last{
  background: #C7D6DA;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  text-align: center;
  padding-top: 20px;
}

.flex7{
  background-color: #132249;
}
.flex-items9{
padding:0px 0px 15px 0px;
}

.info9{
height:60%
}

.mb-0{
  display:flex;flex-direction:row;gap:20px;flex-wrap:wrap;
}

.flex_of_7{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:27px;
  padding: 24px 20px 5px 42px;
  }

  #accordion{
    padding: 0px 40px;
  }

  #name,#email{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px !important;
    background: #EDF1FD !important;
  }

  #message{
    border-radius: 8px;
    background: #EDF1FD;
    display: flex;
    height: 140px;
    width:inherit;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border:none !important;
  }

  #message_button{
    width: inherit;
  background-color: #132249;
  }

  .footer{
    display: flex;
    flex-direction: row;
    background-color: #132249;
    color: white;
  }

  .cardfooter{
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
    padding: 20px 20px 0px 20px;
  }

  .flex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    margin: 0px 40px -15px 40px;
  }

  .flex8{
    /* background: url(/assets/images/bg_con.jpeg) center no-repeat,linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),#99ABD8; */
   
    background-image: linear-gradient( rgba(0, 0, 0, 0.60) 0%, rgba(10, 41, 115, 0.60) 0%), url(/assets/images/bg_con.jpeg);
    background-color:#99ABD8;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
  }

  .form-group , .form-row{
    padding: 0px;
  }

  h4{
    color:white;
  }

  @media screen and (min-width: 1200px) {
    #top_header {
      font-size: 3.3rem;
      letter-spacing: 4.5px;
    }
  }
  
  .navbar-light .navbar-toggler-icon {
    background: url(/assets/images/menu_own.svg) left no-repeat;
  }
 
  .slide{    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.form-section{
  overflow: hidden;
}

  .college {
  margin: 10px 0px 20px 0px;
  color:white;
  font-size: 14px;
  font-family: Unbounded;
  }

  .owl-item {width: 128.906px !important; }

  #hr_tag{
    width: 90%;
    margin: auto;
    color: white;
    border: 1px solid white;
    text-align: center;
  }


  .numbers {
    font-family: 'Arial', sans-serif;
    line-height: 1em;
    font-size: 30px;
    text-align: center;
    margin: 15px 0px 0px 0px;
    overflow: hidden;
    color: #000;
    /* font-family: Unbounded;
    font-size: 48px; */
    font-style: normal;
    font-weight: 600;
    
  }

  .numbers__window {
    display: inline-block;
    overflow: hidden;
    width: 0.9em;
    height: 1em;
  }

  .numbers__window__digit {
    font: inherit;
    word-break: break-all;
    display: block;
    width: 0;
    padding: 0 0.9em 0 0;
    margin: 3px auto;
    overflow: inherit;
    animation: counting 0.4s steps(10) forwards infinite;  
    font-family: Unbounded;
  }
 .dot_num{
  font-family: Unbounded;
 }


  .numbers__window__digit::before {
    content: attr(data-fake);
    display: inline-block;
    width: 100%;
    height: auto;
    font-family: Unbounded;
  }




  @keyframes counting {
    100% {
      transform: translate3d(0, -10em, 0);
      font-family: Unbounded;
    }
  }

  .numbers__window__digit--1 {
    animation-iteration-count: 9;
    font-family: Unbounded;
  }

  .numbers__window__digit--2 {
    animation-iteration-count: 9;
  }

  .numbers__window__digit--3 {
    animation-iteration-count: 9;
  }

  .numbers__window__digit--4 {
    animation-iteration-count: 12;
  }
  .numbers__window__digit--5 {
    animation-iteration-count: 15;
  }

  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block !important;
}

#head_con,#ul_con,#action_con,#con_p{
  color:white;

}
#ul_con{
  color: #FFF;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
#con_input{
  border-radius: 8px;
  border: 1px solid #FFF;
  min-width: 160px;
  padding: 8px 16px;
  background:transparent;
}

#con_button{
margin-left:15px;
border-radius: 8px;
background: #FFF;
padding: 8px 16px;
justify-content: center;
color: var(--Primary-2, #132249);
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
}

#head_con{
  font-size: 40px;
  color: #FFF;
  font-family: Unbounded;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #132249 !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.carousel-control-prev-icon {
  background-image: none !important;
  border-radius: 40px;
  border: 1px solid #FFF;
  background-color: #132249;
  width:35%;
  height: auto;
  padding:5px 5px;
  position: absolute;
  right: 100px;
  bottom: 39.667px;
}

.carousel-control-next-icon {
  background-image: none !important;
  border-radius: 40px;
  border: 1px solid #FFF;
  background-color: #132249;
  width:35%;
  height: auto;
  padding:5px 5px;
  position: absolute;
  right: 100px;
  bottom: 39.667px;
}

.carousel-control-prev {
  left: 80%;
  opacity:unset !important;
}

.carousel-control-next {
  opacity:unset !important;
}

.carousel-caption {
  right: 64% ;
  left: -9% ;

}
#car_button_1{
  border-radius: 17px;
  border: 1px solid #FFF;
  background-color: #132249;
  color:white;
  padding:10px;
  font-size: 16px;
  display: inline-block;
}
#car_button_2{
border-radius: 17px;
border: 1px solid #FFF;
background: #132249;
color:white;
padding:10px;
font-size: 16px;
margin-left:15px;
}

.flex-items4{
  margin:20px;
}

#flex_con{
  display: flex;
  padding: 40px 60px;
  align-items: center;
  align-content: center;
  gap: 20px 40px;
  flex-wrap: wrap;
}

#top_con,#sign_con,#action_con{
  flex:auto !important;
}
@media only screen and (max-width: 1150px) {
  .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 1.75rem;
    left: 62%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.carousel-control-next, .carousel-control-prev{
  bottom:70px;
  
}
.carousel-control-next-icon{
  right:94px;
}
.carousel-control-prev-icon{
  right:86px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  width: 35%;
}
#car_button_1,#car_button_2{
  font-size: 13px;
}
}

@media only screen and (max-width: 1003px){
  #top_con,#sign_con,#action_con{
    flex:1 0 0 !important;
  }
}
@media only screen and (max-width:1003px) and (min-width: 601px)  {
  #con_input {
  width:70%;
  }
  #top_con,#sign_con,#action_con{
    flex:auto !important;
  }
  #action_con{
    width:100%;
  }
}


@media only screen and (max-width: 900px) {
  #facility_para,#service_para{
    flex:auto;
  }
  #header_facility{
    text-align: center;
  }
  .fixed-top > h4{
    font-size: 30px !important;
  }
  
  .fixed-top > #paraoneofcaro{
  font-size: 30px !important;
  }

  .fixed-top > p{
  font-size: 14px !important;
  }
}

@media (max-width: 992px) {
  .contact_us_li {  
    width: 30%;
  }
  .nav-item-contact{
      display: flex;
      justify-content: center;
      width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .cardfooter{
    display: none;
  }
  .footer{
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
  .carousel-control-next, .carousel-control-prev{
    bottom:0px;
  }
  .carousel-control-prev-icon{
    right:140px;
  }
  .carousel-control-prev-icon{
    right:96px;
  }
  .carousel-control-prev-icon,.carousel-control-next-icon{
    width: 45%;
  }
  .fixed-top > h4{
    font-size: 20px !important;
  }
  
  .fixed-top > #paraoneofcaro{
  font-size: 20px !important;
  }

  .fixed-top > p{
  font-size: 12px !important;
  }
}

@media only screen and (max-width: 650px) {
  .carousel-control-next, .carousel-control-prev{
    display: none !important;
  }
  .carousel-control-prev-icon,.carousel-control-next-icon{
    display: none !important;
  }
  #car_button_2{
    display: none !important;
  }
  #top_header{
    font-size: 18px;
  }
  #para{
    font-size: 14px;
  }
  .flex_of_5{
    flex-direction: column;
    gap:0px;
  }
  #header_services{
    font-size:40px;
    text-align: center;
  }
  #header_facility {
    font-size:40px;
    text-align: center;
}
  .flex_of_7{
  flex-direction: column;
    gap:5px;
}
#facility_para, #service_para {
  flex: auto;
  text-align: center;
}
.last{
  padding-top: 49px;
}
}

/* media queries for contact */
@media only screen and (max-width: 600px) {
  #flex_con {
  flex-direction: column;
  align-items: unset;
  }
  #head_img{
    margin-left: 15px !important;
  }

  .carousel-item > #caroimg {
    height: 400px !important;
}
.carousel-inner {
  height: 400px;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-caption{
  right: 0%;
  bottom: 13.75rem;
}

}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 100%;
}

@media only screen and (max-width: 500px) {

  .fixed-top{
    top: 55px !important;
    left: 6% !important;
    width: 89% !important;
}
  .fixed-top > h4{
    font-size: 15px !important;
  }
  
  .fixed-top > #paraoneofcaro{
  font-size: 15px !important;
  }

  .fixed-top > p{
  font-size: 12px !important;
  }
}

/* media queries for contact */
@media only screen and (max-width: 450px) {
  #con_button{
    margin-left: 5px;

  }
  #con_input{
    width: 10% ;
  }
  #footer_p{
    font-size: 13px;
  }
  #car_button_1 {
    font-size: 9px;
    padding: 7px;
}
.flex-items {margin-left: 25%;}
}

/* media queries for contact */
@media only screen and (max-width: 400px) {
  .card9{
    width: 295px;
  }
  
}

.card10  > ul > li {
  display: inline-block;
  font-size: 16px; 
}
.card10  > ul > li.grow {
    transition: all .2s ease-in-out; 
  }
.card10  > ul > li:hover {
      padding-left: 30px;
      /* transform: scale(1.2); */
      font-size: 16px; 
      cursor: pointer;
}
.card10  > div > ul > li:hover {
      padding-left: 30px;
      font-size: 16px; 
      cursor: pointer;
}
.card10  > img:hover{
  transform: scale(1.2);
}
.card10 > div > div  > img:hover{
  transform: scale(1.2);
}



.articleimg,.articleimg2,.articleimg3,.articleimg4{
  width:100%;
  object-fit:cover;
}

.top_grid{
  height: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.carousel .carousel-item {
  height: 600px;
  border-radius: 40px;
  
}

.carousel-item > #caroimg {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    /* min-height: 500px; */
    border-radius: 40px;
    height: 600px;
}

.fixed-top{
  position: fixed;
    top: 55px;
    left: 45%;
    width: 50%;
    z-index: 1030;
}
.fixed-top > h4{
  color: #FFF;
  text-align: right;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.fixed-top > #paraoneofcaro1{
  background: linear-gradient(120deg, #D2DEFF 24.77%, #3ADCAF 70.07%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-variant-numeric: lining-nums tabular-nums;
font-family: Unbounded;
font-size: 40px;
font-style: normal;
text-align: right;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.fixed-top > #paraoneofcaro2{
  background: linear-gradient(94deg, #FFE887 -4.95%, #10CE99 99.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
  line-height: normal;
  text-transform: uppercase;
}

.fixed-top > #paraoneofcaro3{
  background: linear-gradient(92deg, #235FFD 12.3%, #6EFFEE 100%, #10CE99 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: right;
}

 #paraoneofcaro4{
  background: linear-gradient(268deg, #5D86F1 -2.1%, #10CE99 39.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: right;
}

.fixed-top > p{
color: #FFF;
text-align: right;
font-variant-numeric: lining-nums tabular-nums;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
width:60%;
float: right;
text-align: right;
}

#car_button_1:hover,#car_button_2:hover{
  box-shadow: inset 0px 100px 0px 0px white;
  color: black;
}

#car_button_1,#car_button_2{
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 100 0 0 white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.carousel-control-next-icon{
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  padding: 16px;
}
.carousel-control-prev-icon{
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  padding: 16px;
}
.carousel-control-prev-icon:hover{
  box-shadow: inset 0 0 100px 0px white;
}
.carousel-control-next-icon:hover{
  box-shadow: inset 100px 0 0 0 white;
}

.carousel-control-next, .carousel-control-prev{
  width: 14%;
}

#nav_contact:hover{
  /* border-radius: 20px; */
/* border: 2px solid #132249; */
background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
color: white !important;
}

#nav_contact{
  display: flex;
  padding: 6px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.carousel-inner { 
  overflow: visible; 
}


body {
	align-items: center;
	// background: #E3E3E3;
	display: flex;
	// height: 100vh;
	justify-content: center;
}

@mixin white-gradient {
	// background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 15s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: #132249;;
	// box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	// width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
th{
  background: #C7D6DA;
  // box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  color: #000;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}
td, th {
  // border: 1px solid #dddddd;
  text-align: left;
  padding: 16px 20px;
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}

tr:nth-child(odd) {
  background-color:#FAFBFF;
}
table th:nth-child(2){
text-align: right !important;
}
table td:nth-child(2){
  text-align: right !important;
  }

table th:nth-child(3){
    text-align: right !important;
    }

table td:nth-child(3){
      text-align: right !important;
      }

tfoot > tr > td{
  background: #C7D6DA;
  // box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
  color: #000;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right !important;
  padding: 16px 105px !important;
}

.carousel-item{
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
.carousel-inner>.item {
  -webkit-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}

#con_button:hover{
  background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
  color: white !important;
  border: 2px solid white;
}
