.service_page {
  overflow: hidden;
}
.navbar {
  padding: 20px 40px;
}

.bg-light {
  background-color: #132249 !important;
}

.nav-link {
  display: flex;                         
  justify-content: center;
  align-items: center;
  padding: 6px 15px !important;
  border-radius: 50px;
  color: white !important;
  font-family: Schibsted Grotesk;
}

.nav-link:hover {
  background: #cdd9fa;
  color: #132249 !important;
  border-radius: 50px;
  font-family: Schibsted Grotesk;
}

.navbar-nav {
  gap: 10px;
  color: #fff !important;
}
.navbar-toggler {
  border: unset;
  box-shadow: unset;
} 
.navbar-toggler img {
  width: 30px;
  height: 30px;
}

.navbar-toggler-icon {
  background-image: none !important;
}

#nav_contact {
  background: #cdd9fa;
  color: #132249 !important;
  border-radius: 50px;
  font-family: Schibsted Grotesk;
  text-decoration: none;
  border: 1px solid #132249;
}

#nav_contact:hover {
  /* border-radius: 20px; */
  /* border: 2px solid #132249; */
  border: 1px solid #FFF;
  background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
  color: white !important;
}

#nav_contact {
  display: flex;
  padding: 6px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.navbar-light .navbar-toggler-icon {
  /* background: url(/assets/images/menu_own.svg) left no-repeat; */
}
/* header */
#top_header {
  color: #132249;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Unbounded;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  color: #000;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  text-transform: uppercase;
}

.container-fluid1 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
}

.responsive {
  width: 100%;
}

.responsive h1 {
  font-size: 10px !important;
}


.hero {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

/* Gallery text section */

.gallery-text {
  color: #132249;
  width: 50%;
  font-family: Unbounded;
  font-size: clamp(1rem, 7vw, 8rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.stretch {
  display: flex;
    justify-content: center;
    align-items: center;
  -webkit-transform: scale(1.4, 1.4);
  -moz-transform: scale(1.4, 1.4);
  -o-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
}
.gall-para {
  color: #000;
  width: 50%;
  margin-top: 15px;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.service-section .hr_tag {
  border-bottom: 1px solid #000;
  margin: 0px 40px;
  text-align: center;
  opacity: 1;
}
.main {
  display: flex;
padding: 40px 40px 40px 40px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
align-self: stretch;
width: 100%;
}
.sec-1, .sec-2 {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 800px) minmax(200px, 800px);
  grid-column-gap: 2%;
}
.sec-1 .sec-1-img1, .sec-1 .sec-1-img2  {
  height: 400px;
}

.sec-1 .sec-1-img1 img, .sec-1 .sec-1-img2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.service_container,.service_top, .service_bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
}

.service_bottom_cnt{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  flex: 1 1 auto;
}
.service_header {
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
align-self: stretch;
  overflow: hidden;
color: #666;
text-overflow: ellipsis;
font-family: Schibsted Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */
text-transform: uppercase;
}

.service_heading{
  color: #000;
  font-family: Unbounded;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  align-self: stretch;
}
.service_description{
  color: #666;
font-family: Schibsted Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
align-self: stretch;
}
.service_students, .service_industries{
  color: #181977;
font-family: Schibsted Grotesk;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 48px */
flex: 1 0 0;
}
  
.service_cnt_btn {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 20px;
}

.btn2{
  display: flex;
padding: 6px 16px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 8px;
background: #132249;
color: white;
border: 2px solid #132249;
}
.btn2:hover{
  border: 2px solid #132249;
  background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
}
.btn-contact {
  font-size: 20px;
}

.sec2_right {
  display: flex;
min-width: 390px;
padding-left: 0px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
flex: 1 0 0;
}
.sec2_top_sec{
  display: flex;
padding: 10px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
flex: 1 0 0;
color: #333;
font-family: Schibsted Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 34px */
}
.list{
  padding: 5px 0px;
}
.table1_div, .table2_div {
  width: 100%;
}
/* table, td, th {
  border: 1px solid #B9B9B9;
  
} */
td {
 padding: 1% 2%;
 color: #333;
font-family: Schibsted Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}
/* table {
  width: 100%;
  border-collapse: collapse;
} */

table{
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
 }
 th,td {
  width: 50%;
 }
 /* Apply a border to the right of all but the last column */
 table th:not(:last-child),
 table td:not(:last-child) {
  border-right: 1px solid #B9B9B9;
 }
 
 /* Apply a border to the bottom of all but the last row */
 table>thead>tr:not(:last-child)>th,
 table>thead>tr:not(:last-child)>td,
 table>tbody>tr:not(:last-child)>th,
 table>tbody>tr:not(:last-child)>td,
 table>tfoot>tr:not(:last-child)>th,
 table>tfoot>tr:not(:last-child)>td,
 table>tr:not(:last-child)>td,
 table>tr:not(:last-child)>th,
 table>thead:not(:last-child),
 table>tbody:not(:last-child),
 table>tfoot:not(:last-child) {
  border-bottom: 1px solid #B9B9B9;
 }

.th_background {
  background: rgba(0, 0, 0, 0.06);
}

.instruments_div {
  color: #333;
font-family: Schibsted Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 34px */
align-self: stretch;
}

.flex10 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px 20px 0px;
  justify-content: center;
  flex-direction: row;
  font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.card10 {
  min-width: 320px;
  max-width: 340px;
  padding: 5px 40px;
}

.card10 p {
  font-size: 20px;
}

.card10 ul {
  padding-left: 0px;
}

.card10 li {
  font-size: 16px;
  background: url(/assets/images/arrowright.svg) left no-repeat;
  list-style-type: none;
  padding-left: 20px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.card10 li:hover {
  padding-left: 30px;
  transition: 0.2s; 
}

.footer_img {
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.footer_img:hover {
  transform: scale(1.1);
 }

 .hitech{
  height: 50px;
 }

.footer {
  display: flex;
  flex-direction: row;
  background-color: #132249;
  color: white;
  font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.cardfooter {
  gap: 20px;
  display: flex;
  flex-direction: row;
  float: right;
  margin-left: auto;
  padding: 20px 20px 0px 20px;
}

.separator {
  background: #FFF;
  width: 1px;
  height: 26px;
}
@media (max-width: 1320px) {

  .gall-para, .service_description, .sec2_top_sec, td, .btn-contact,.instruments_div {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .sec-1 .sec-1-img1, .sec-1 .sec-1-img2  {
    height: 350px;
  }
  .service_heading {
    font-size: 30px;
  }

  .service_students, .service_industries {
    font-size: 27px;
  }
}  
@media (max-width: 1100px) {

  .gall-para, .service_description, .sec2_top_sec, td, .btn-contact, .instruments_div {
    font-size: 17px;
  }

  .service_header {
    font-size: 18px;
  }
  .service_heading {
    font-size: 28px;
  }

  .service_students, .service_industries {
    font-size: 25px;
  }
}

@media (max-width: 992px) {

  .nav-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item-contact {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .gall-para {
    font-size: 16px;
    margin-top: 10px;
  }

  .service_description, .sec2_top_sec, td, .btn-contact,.instruments_div {
    font-size: 16px;
  }

  .sec-1 .sec-1-img1, .sec-1 .sec-1-img2  {
    height: 325px;
  }

  .service_heading {
    font-size: 25px;
  }

  .service_students, .service_industries {
    font-size: 21px;
  }
}
@media only screen and (max-width: 900px){
  .card10{
    padding: 0px;
  }
  .flex10{
    gap: 20px 50px;
    padding: 40px;
    justify-content: flex-start;
  }
}
@media (max-width: 850px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 20px 0px 20px;
  }

  .gallery-text {
    width: 100%;
    text-align: center;
    font-size: clamp(1rem, 12vw, 10rem) !important;
  }
  .gall-para {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }

  .sec-1, .sec-2 {
    grid-template-columns: minmax(200px, 850px);
    grid-row-gap: 20px;
  }
  .sec-1 .sec-1-img1, .sec-1 .sec-1-img2  {
    height: 375px;
  }

  .service_header {
    font-size: 20px;
  }
  .service_description, .sec2_top_sec, td, .btn-contact, .instruments_div {
    font-size: 18px;
  }
  .service_description, .sec-1-img2 {
    display: none;
  }
  .service_heading {
    font-size: 30px;
  }

  .service_students, .service_industries {
    font-size: 26px;
  }

  .cardfooter {
    display: none;
  }
  .footer {
    justify-content: center;
  }
  .main {
  padding: 20px;
  }
  .navbar {
    padding: 20px;
  }
  .flex10{
    padding: 20px;
  }
  .service-section .hr_tag {
    margin: 0px 20px;
  }
}

@media (max-width: 650px) {

  .gall-para {
    font-size: 16px;
  }

  .sec-1 .sec-1-img1, .sec-1 .sec-1-img2  {
    height: 325px;
  }

  .service_header {
    font-size: 18px;
  }
  .service_description, .sec2_top_sec, td, .btn-contact, .instruments_div {
    font-size: 16px;
  }

  .service_heading {
    font-size: 25px;
  }

  .service_students, .service_industries {
    font-size: 21px;
  }

  .sec-1 .sec-1-img1 img, .sec-1 .sec-1-img2 img {
    border-radius: 7px;
  }
}

@media (max-width: 600px) {

}

@media (max-width: 499px) {

  .gall-para {
    font-size: 15px;
  }

  .main {
    padding: 20px;
  }

  .sec-1 .sec-1-img1, .sec-1 .sec-1-img2  {
    height: 250px;
  }

  .service_header {
    font-size: 17px;
  }
  .service_description, .sec2_top_sec, td, .btn-contact, .instruments_div {
    font-size: 15px;
  }

  .service_heading {
    font-size: 20px;
  }

  .service_students, .service_industries {
    font-size: 18px;
  }

  .sec2_right {
    min-width: 320px;
 }
  
}