<div class="service_page">
  <div class="container-fluid1">
    <div class="row">
      <div class="col-md-12 ">
        <nav id="head_nav" class="navbar navbar-expand-lg navbar-light bg-light">
          <img src="./assets/images/image 26.png" alt="VBCRC" [routerLink]='["/"]'>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]='["/about"]'>About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]='["/library"]'>Library</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" [routerLink]='["/gallery"]'>Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]='["/service"]'>Services</a>
              </li>
              <li class="nav-item contact_us_li">
                <a class="nav-link" class="contact_us" [routerLink]='["/contact"]'>Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="service-section">
    <div class="hero">
      <h1 class="gallery-text">SERVICES</h1>
      <div class="gall-para">
        <p>Our services are transparently priced for optimal customer satisfaction. Check out our selection of
          high-quality services at affordable rates.</p>
      </div>
    </div>
    <hr />
  </div>
  <div class="main">
    <div class="sec-1">
      <div class="sec-1-img1">
        <img src={{image_1}}/>
      </div>
      <div class="sec-1-img2">
        <img src={{image_2}}/>
      </div>
    </div>
    <div class="sec-2">
      <div class="sec2_left">
        <div class="service_container">
          <div class="service_top">
            <div class="service_header">
              {{header}}
            </div> 
            <div class="service_heading">
              {{heading}}
            </div>
            <div class="service_description">
              {{description}}
            </div>
          </div>
          <div class="service_bottom">
            <div class="service_bottom_cnt">
              <div class="service_students">
                {{students}}
              </div>
              <div class="service_cnt_btn">
                <div class="service_industries">
                  {{industries}}
                </div>
                <div>
                  <button class="btn2" [routerLink]='["/contact"]'><span class="btn-contact">Contact Us</span></button>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
      <div class="sec2_right" *ngIf="header=='Sophisticated Instruments' || (header=='Material Preparation' && heading=='Sol Gel Route')
      || (header=='Nano coating techniques' && heading=='Chemical Vapour Deposition (CVD)') || header=='Raw Materials'
      || (header=='Physical properties' && heading!=='Bulk Density, Porosity, Water Absorption, Fired Shrinkage')">
        <div class="instruments_div">
          <p>{{para1}}</p>
          <p *ngIf="para2 !== undefined">{{para2}}</p>
          <p *ngIf="para3 !== undefined">{{para3}}</p>
          <p *ngIf="para4 !== undefined">{{para4}}</p>
          <div *ngIf="lists !== undefined">
            <div *ngFor="let list of lists"><li class="list">{{list}}</li></div>
          </div>
          <div class="table2_div" *ngIf="table2_th !== undefined" style="margin-top: 15px;">
            <table class="table2">
              <tr>
                <td class="th_background">{{table2_th}}</td>
                <td class="th_background">{{table2_th2}}</td>
              </tr>
              <tr *ngIf="table2_td !== undefined">
                <td>{{table2_td}}</td>
                <td>{{table2_td2}}</td>
              </tr>
              <tr *ngIf="table1_td !== undefined">
                <td>{{table1_td}}</td>
                <td>{{table1_td2}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="sec2_right" *ngIf="header=='Heat Treatment Facility' || header=='Thermal Testing' || (header=='Material Preparation' && heading!=='Sol Gel Route') || header=='Shaping'
        || (header=='Nano coating techniques' && heading!=='Chemical Vapour Deposition (CVD)') || header=='Casting'">
        <div class="sec2_top_sec">
          <div class="para1">{{para1}}</div>
          <div *ngIf="lists !== undefined">
            <div *ngFor="let list of lists"><li class="list">{{list}}</li></div>
          </div>
          <div class="para2" *ngIf="para2 !== undefined">{{para2}}</div>
          <div class="para3" *ngIf="para3 !== undefined">{{para3}}</div>
          <div class="para4" *ngIf="para4 !== undefined">{{para4}}</div>
        </div>
        <div class="table1_div" *ngIf="table1_th !== undefined">
          <table class="table1">
            <tr>
              <td class="th_background">{{table1_th}}</td>
              <td>{{table1_th2}}</td>
            </tr>
            <tr>
              <td class="th_background">{{table1_td}}</td>
              <td>{{table1_td2}}</td>
            </tr>
            <tr *ngIf="table1_td3 !== undefined">
              <td class="th_background">{{table1_td3}}</td>
              <td>{{table1_td4}}</td>
            </tr>
            <tr *ngIf="table1_td5 !== undefined">
              <td class="th_background">{{table1_td5}}</td>
              <td>{{table1_td6}}</td>
            </tr>
            <tr *ngIf="table1_td7 !== undefined">
              <td class="th_background">{{table1_td7}}</td>
              <td>{{table1_td8}}</td>
            </tr>
            <tr *ngIf="table1_td9 !== undefined">
              <td class="th_background">{{table1_td9}}</td>
              <td>{{table1_td10}}</td>
            </tr>
          </table>
        </div>
        <div class="table2_div" *ngIf="table2_th !== undefined">
          <table class="table2">
            <tr>
              <td class="th_background">{{table2_th}}</td>
              <td class="th_background">{{table2_th2}}</td>
            </tr>
            <tr>
              <td>{{table2_td}}</td>
              <td>{{table2_td2}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="sec2_right" *ngIf="(header=='Physical properties' && heading=='Bulk Density, Porosity, Water Absorption, Fired Shrinkage')">
        <div class="instruments_div">
          <p>{{para1}}<span style="display: block; font-style: italic;">Bulk Density = Sintered Weight / (Soaked Wt - Suspended Wt) g/cc</span></p>
          <p>{{para2}}<span style="display: block; font-style: italic;">Porosity = (Soaked Wt - Sintered Wt) / (Soaked Wt - Suspended Wt) x 100%</span></p>
          <p>{{para3}}<span style="display: block; font-style: italic;">Water Absorption = (Soaked Wt - Sintered Wt) / Sintered Weight x 100%</span></p>
          <p>{{para4}}<span style="display: block; font-style: italic;">Fired Shrinkage = (Dia of After Drying - Dia of After Firing) / Dia of After Drying</span></p>
        </div>
      </div>
    </div>
  </div>
</div>