<!-- <button class="btn btn-danger" [routerLink]='["/service"]'>Back</button>
<h2>{{image_1}}</h2>
<h2>{{image_2}}</h2>
<p>{{header}}</p>
<h1>{{heading}}</h1>
<h2>{{title}}</h2>
<h4>{{title_heading}}</h4>
<p>{{students}}</p>
<p>{{industries}}</p>
<p *ngFor="let list of lists">{{list}}</p>
<h5>{{description}}</h5> -->

<div class="service_page">
  <div class="container-fluid1">
    <div class="row">
      <div class="col-md-12 ">
        <nav id="head_nav" class="navbar navbar-expand-lg navbar-light bg-light">
          <img src="./assets/images/image 26.png" alt="VBCRC">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]='["/about"]'>About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]='["/library"]'>Library</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" [routerLink]='["/gallery"]'>Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]='["/service"]'>Services</a>
              </li>
              <li class="nav-item contact_us_li">
                <a class="nav-link" class="contact_us" [routerLink]='["/contact"]'>Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="service-section">
    <div class="hero">
      <h1 class="gallery-text">SERVICES</h1>
      <div class="gall-para">
        <p>Our services are transparently priced for optimal customer satisfaction. Check out our selection of
          high-quality services at affordable rates.</p>
      </div>
    </div>
    <hr />
  </div>
  <div class="main">
    <div class="sec-1">
      <div class="sec-1-img1">
        <img src={{image_1}}/>
      </div>
      <div class="sec-1-img2">
        <img src={{image_2}}/>
      </div>
    </div>
    <div class="sec-2">
      <div class="sec2_left">
        <div class="service_container">
          <div class="service_top">
            <div class="service_header">
              {{header}}
            </div> 
            <div class="service_heading">
              {{heading}}
            </div>
            <div class="service_description">
              {{description}}
            </div>
          </div>
          <div class="service_bottom">
            <div class="service_bottom_cnt">
              <div class="service_students">
                {{students}}
              </div>
              <div class="service_cnt_btn">
                <div class="service_industries">
                  {{industries}}
                </div>
                <div>
                  <button class="btn2" [routerLink]='["/contact"]'><span class="btn-contact">Contact Us</span></button>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
      <div class="sec2_right" *ngIf="title=='Sophisticated Instruments'">
        <div class="instruments_div">
          <p>{{para1}}</p>
          <p>{{para2}}</p>
          <p>{{para3}}</p>
          <p>{{para4}}</p>
          <div>
            <div *ngFor="let list of lists"><li class="list">{{list}}</li></div>
          </div>
        </div>
      </div>
      <div class="sec2_right" *ngIf="title=='Heat Treatment Facility' || title=='Thermal Testing'">
        <div class="sec2_top_sec">
          <div class="para1">{{para1}}</div>
          <div>
            <div *ngFor="let list of lists"><li class="list">{{list}}</li></div>
          </div>
          <div class="para2">{{para2}}</div>
        </div>
        <div class="table1_div" *ngIf="table1_th2 !== undefined">
          <table class="table1">
            <tr>
              <td class="th_background">{{table1_th}}</td>
              <td>{{table1_th2}}</td>
            </tr>
            <tr>
              <td class="th_background">{{table1_td}}</td>
              <td>{{table1_td2}}</td>
            </tr>
          </table>
        </div>
        <div class="table2_div" *ngIf="table2_th2 !== undefined">
          <table class="table2">
            <tr>
              <td class="th_background">{{table2_th}}</td>
              <td class="th_background">{{table2_th2}}</td>
            </tr>
            <tr>
              <td>{{table2_td}}</td>
              <td>{{table2_td2}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>