.navbar-light, .navbar-toggler-icon
{
  background-image: none !important;
}
.flex_of_5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:27px;
    padding:0px 40px;
    }

#header_services{
  color: #132249;
  font-family: Unbounded;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex: 1 0;
  width: 50%;
        }

#contact_para{
  color: black;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
  place-self: center;
          }

#message{
            border-radius: 8px;
            background: #EDF1FD;
            display: flex;
            height: 140px;
            width:inherit;
            padding: 16px;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border:none !important;
          }
        
#message_button{
            width: inherit;
          background-color: #132249;
          }

#name,#email{
            display: flex;
            padding: 16px;
            align-items: flex-start;
            gap: 8px;
            flex: 1 0 0;
            border-radius: 8px !important;
            background: #EDF1FD !important;
          }

.container-fluid1{display: flex;gap: 10px;flex-direction: column;margin: 0px;justify-content: center;}
/* Navbar */
.navbar-brand{padding: 0px 40px 0px 40px;color:white !important;font-family: Unbounded;font-size: 16px;font-style: normal;font-weight: 600;line-height: 16px; }
.bg-light {background-color: #132249 !important;}
.nav-link{border-radius: 50px;color:white!important;display: flex;justify-content: center;align-items: center;gap: 8px;font-family: Schibsted Grotesk;font-size: 16px;}
.nav-link:hover{background: #cdd9fa; color:#132249 !important;border-radius: 50px;}
#navbarSupportedContent{padding-right: 40px;}
.navbar-nav{gap:20px;}


.flex10{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    flex-direction: row;
    
  }

  .card10{
    min-width: 320px;
    max-width: 340px;
    padding: 5px 40px;
  }
  
  .card10 p {
    font-size: 20px;
  }
  .card10 ul{
    padding-left:0px;
  }
  
  .card10 li {
    font-size: 16px;
    background: url(/assets/images/arrowright.svg) left no-repeat;
    list-style-type: none;
    padding-left: 20px;
  
  }

  .footer{
    display: flex;
    flex-direction: row;
    background-color: #132249;
    color: white;
  }

  .cardfooter{
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
    padding: 20px 20px 0px 20px;
  }

  .separator{
    background: #FFF;
    width: 1px;
    height: 26px;
  }

  @media only screen and (max-width: 950px) {
    #contact_para{
      width: auto;
      text-align: center;
    }
    .flex_of_5{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap:10px;
      }
      #header_services{
        text-align: center;
        width: 100%;
      }
  }
  @media only screen and (max-width: 800px) {
    .cardfooter{
      display: none;
    }
    .footer{
      flex-direction: column-reverse;
      text-align: center;
    }
  }
  @media only screen and (max-width: 600px) {
    #contact_flex{
      flex-direction: column !important;
      gap:0px !important;
    }
    #header_services{
      margin-top: 10px;
      font-size:55px;
      text-align: center;
    }
    #contact_para{
      font-size: 20px;
      text-align: center;
      width: auto;
    }
    .flex_of_5{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap:10px;
      padding:0px 20px;
      }
  }
  .col-md-12{
    padding:0px;
  }
  .card10  > ul > li {
    font-size: 16px; 
  }
  .card10  > ul > li.grow {
      transition: all .2s ease-in-out; 
    }
    .card10  > ul > li:hover {
      padding-left: 30px;
      /* transform: scale(1.2); */
      font-size: 16px; 
      cursor: pointer;
}
.card10  > div > ul > li:hover {
      padding-left: 30px;
      font-size: 16px; 
      cursor: pointer;
}
.card10  > img:hover{
  transform: scale(1.2);
}
.card10 > div > div  > img:hover{
  transform: scale(1.2);
}
.card10 > div > img:hover{
  transform: scale(1.2);
}
.flex10 > .card10 > p:first-child {
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 250% */
  text-transform: uppercase;
}
.flex10 > .card10 > div > p:first-child {
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 250% */
  text-transform: uppercase;
}
.card10 > ul{
  color: #000;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.card10 > div > ul{
  color: #000;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.flex10 > .card10 > p:last-child{
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
  
@media only screen and (max-width: 400px) {
  #headimg{
    margin-left: 13px !important;
  }
}