
#map{
  padding: 40px;
}
.mapIframe{
  width: 100%;
}
.navbar {
  padding: 20px 40px;
}

.bg-light {
  background-color: #132249 !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px !important;
  border-radius: 50px;
  color: white !important;
  font-family: Schibsted Grotesk;
}

.nav-link:hover {
  background: #cdd9fa;
  color: #132249 !important;
  border-radius: 50px;
  font-family: Schibsted Grotesk;
}

.navbar-nav {
  gap: 10px;
  color: #fff !important;
}
.navbar-toggler {
  border: unset;
  box-shadow: unset;
} 
.navbar-toggler img {
  width: 30px;
  height: 30px;
}

.navbar-toggler-icon {
  background-image: none !important;
}

#nav_contact {
  background: #cdd9fa;
  color: #132249 !important;
  border-radius: 50px;
  font-family: Schibsted Grotesk;
  text-decoration: none;
  border: 1px solid #132249;
}

#nav_contact:hover {
  /* border-radius: 20px; */
  /* border: 2px solid #132249; */
  border: 1px solid #FFF;
  background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
  color: white !important;
}

#nav_contact {
  display: flex;
  padding: 6px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


/* header */
#top_header {
  color: #132249;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Unbounded;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  color: #000;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  text-transform: uppercase;
}

/* container */

.container-fluid {
  padding: 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
}

.container-fluid1 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
}

.responsive {
  width: 100%;
}

.responsive h1 {
  font-size: 10px !important;
}


.flex_of_5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:27px;
    padding:0px 40px;
    }

#header_services{
  color: #132249;
  font-family: Unbounded;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex: 1 0;
  width: 50%;
}

#contact_para{
  color: black;
  font-family: Schibsted Grotesk;
  font-style: normal;
  font-weight: 400;
  place-self: center;
}

#message{
            border-radius: 8px;
            background: #EDF1FD;
            display: flex;
            height: 140px;
            width:inherit;
            padding: 16px;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border:none !important;
            color: rgba(0, 0, 0, 0.50);
            font-family: Schibsted Grotesk;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          
#message_button{
  padding: 16px;
            width: inherit;
            font-family: Schibsted Grotesk;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          background-color: #132249;
          }

#name,#email{
            display: flex;
            padding: 16px;
            align-items: flex-start;
            gap: 8px;
            flex: 1 0 0;
            border-radius: 8px !important;
            background: #EDF1FD !important;
            color: rgba(0, 0, 0, 0.50);
            font-family: Schibsted Grotesk;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

.container-fluid1{display: flex;gap: 10px;flex-direction: column;margin: 0px;justify-content: center;}


.flex10{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    flex-direction: row;
    
  }

  .card10{
    min-width: 320px;
    max-width: 340px;
    padding: 5px 40px;
  }
  
  .card10 p {
    font-size: 20px;
  }
  .card10 ul{
    padding-left:0px;
  }
  
  .card10 li {
    font-size: 16px;
    background: url(/assets/images/arrowright.svg) left no-repeat;
    list-style-type: none;
    padding-left: 20px;
  
  }

  .footer{
    display: flex;
    flex-direction: row;
    background-color: #132249;
    color: white;
  }

  .cardfooter{
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
    padding: 20px 20px 0px 20px;
  }

  .separator{
    background: #FFF;
    width: 1px;
    height: 26px;
  }
  .hero {
    padding: 20px 40px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
  }
  .gallery-text {
    color: #132249;
    width: 50%;
    font-family: Unbounded;
    font-size: clamp(1rem, 5vw, 8rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    justify-content: center;
    transform: scale(1, 1.3);
    display: flex;
  }
  
  .gall-para {
    color: #000;
    width: 50%;
    margin-top: 15px;
    font-family: Schibsted Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 30px */
  }

  @media (max-width: 1400px) {
  
    .gall-para {
      font-size: 18px;
    }
  }

  @media (max-width: 1300px) {
  
    .gall-para {
      font-size: 16px;
    }
    .stretch {
      -webkit-transform: scale(1.1, 1.3);
      -moz-transform: scale(1.1, 1.3);
      -o-transform: scale(1.1, 1.3);
      transform: scale(1.1, 1.3);
    }
  }


  @media (max-width: 1100px) {  
   
  
    .gall-para {
      font-size: 16px;
    }
  }

  @media (max-width: 992px) {
    .nav-item{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-item-contact {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    #contact_para{
      text-align: center;
    }
  
    .gallery-text {
      width: 100%;
      text-align: center;
      font-size: clamp(1rem, 10vw, 10rem) !important;
    }
  
    .gall-para {
      width: 100%;
      font-size: 18px; 
      text-align: center;
    }
  
    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }  
    #email{
      margin-left: 0px  !important;
    }
  }

  @media only screen and (max-width: 900px) { 
      .stretch {
      -webkit-transform: scale(1.1, 1.3);
      -moz-transform: scale(1.1, 1.3);
      -o-transform: scale(1.1, 1.3);
      transform: scale(1.3, 1.3);
    }
    .card10{
      padding: 0px;
    }
    .flex10{
      padding: 40px;
      justify-content: flex-start;
      gap: 20px 50px;
    }
}

  @media only screen and (max-width: 800px) {
    .cardfooter{
      display: none;
    }
    .footer{
      flex-direction: column-reverse;
      text-align: center;
    }

    .navbar{
      padding: 20px;
    }
  
    }
    @media (max-width: 700px) {
    
      .gall-para {
        font-size: 16px;
      }
    }
  @media (max-width: 650px) {
    .navbar{
      padding: 20px;
    }
    .hero {
      padding: 20px 20px 0px;
    }
    .flex10{
      padding: 20px;
    }
  
    .gall-para {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 600px) {

    #map{
      padding: 20px;
    }
    /* .mapIframe{
      margin: 30px 0px
    } */
    
    .links{
      transform: unset !important;
    }
    #contact_flex{
      flex-direction: column !important;
      gap:0px !important;
      padding: 0px 20px 20px 20px !important;
    }
    
    .flex_of_5{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap:10px;
      padding:0px 20px;
      }
    
  }
  .col-md-12{
    padding:0px;
  }
  .card10  > ul > li {
    font-size: 16px; 
  }
  .card10  > ul > li.grow {
      transition: all .2s ease-in-out; 
    }
    .card10  > ul > li:hover {
      padding-left: 30px;
      /* transform: scale(1.2); */
      font-size: 16px; 
      cursor: pointer;
}
.card10  > div > ul > li:hover {
      padding-left: 30px;
      font-size: 16px; 
      cursor: pointer;
}
.card10  > img:hover{
  transform: scale(1.2);
}
.card10 > div > div  > img:hover{
  transform: scale(1.2);
}
.card10 > div > img:hover{
  transform: scale(1.2);
}
.flex10 > .card10 > p:first-child {
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 250% */
  text-transform: uppercase;
}
.flex10 > .card10 > div > p:first-child {
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 250% */
  text-transform: uppercase;
}
.card10 > ul{
  color: #000;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.card10 > div > ul{
  color: #000;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.flex10 > .card10 > p:last-child{
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
@media (max-width: 570px) {
  
}
@media (max-width: 530px) {
    
  }
@media (max-width: 499px) {

  .gall-para {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  #footer_p {
    font-size: 13px;
}
  #headimg{
    margin-left: 13px !important;
  }
  #email{
    margin-left: 0px !important;
  }
  #map{
    
  }
}
.links > div > p{
  padding: 11px;
  color: #000;
font-family: Schibsted Grotesk;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0px;
}
.link1:hover .con_text1{
  /* transition: transform .2s ease-in-out; */
  transform: translate3d(30px, 0px, 0px)
}
.link1:hover .con_p1{
  transform: translateX(-35px);
}
.link1:hover{
  background: #EDF1FD;
  border-radius: 12px;
  transition: transform .2s ease-in-out;
}
.link2:hover .con_text2{
  /* transition: transform .2s ease-in-out; */
  transform: translate3d(30px, 0px, 0px)
}
.link2:hover .con_p2{
  transform: translateX(-35px);
}
.link2:hover{
  background: #EDF1FD;
  border-radius: 12px;
  transition: transform .2s ease-in-out;
}
.link3:hover .con_text3{
  /* transition: transform .2s ease-in-out; */
  transform: translate3d(30px, 0px, 0px)
}
.link3:hover .con_p3{
  transform: translateX(-35px);
}
.link3:hover{
  background: #EDF1FD;
  border-radius: 12px;
  transition: transform .2s ease-in-out;
}
.link4:hover .con_text4{
  /* transition: transform .2s ease-in-out; */
  transform: translate3d(30px, 0px, 0px)
}
.link4:hover .con_p4{
  transform: translateX(-35px);
}
.link4:hover{
  background: #EDF1FD;
  border-radius: 12px;
  transition: transform .2s ease-in-out;
}
.link5:hover .con_text5{
  /* transition: transform .2s ease-in-out; */
  transform: translate3d(30px, 0px, 0px)
}
.link5:hover .con_p5{
  transform: translateX(-35px);
}
.link5:hover{
  background: #EDF1FD;
  border-radius: 12px;
  transition: transform .2s ease-in-out;
}
#message_button:hover{

background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
color: white !important;
border: 2px solid black;
}
/*   */
#loc{
position:absolute;
top:380px;
right:130px;
display: flex;
width: 200px;
padding: 12px 16px;
justify-content: space-between;
align-items: center;
border-radius: 8px;
background: #FFF;
}
#loc:hover{
  background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
color: white !important;
border: 2px solid white;
}