<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='form-section' style='overflow: hidden;'>
        
      <div class="container-fluid1">
        <div class="row">
        <div  class="col-md-12 ">
        <nav id="head_nav" class="navbar navbar-expand-lg navbar-light bg-light">
        <img id='head_img' src="./assets/images/VBCC_Logo_White.svg" alt="" [routerLink]='["/"]'>
        <button (click)="changeImage15()"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <img [src]="imagesNav[currentImageIndex15]" alt="">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink] ='["/about"]'>About Us </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] ='["/library"]'>Library</a>
              </li>
           
            <li class="nav-item">
              <a class="nav-link" [routerLink] ='["/gallery"]'>Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] ='["/service"]'>Services</a>
            </li>
            <li class="nav-item nav-item-contact">
              <a id='nav_contact' class="" style='background-color:white !important; color:#132249 ;border-radius: 50px;' [routerLink]='["/contact"]'>Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    </div>
    </div>
      <div class="hero">
        <h1 class="gallery-text">LIBRARY</h1>
        <div class="gall-para">
          <p>Welcome to our world of mind-blowing research findings. Be prepared to embark on an exhilarating adventure through the realm of our Research!</p>
        </div>
      </div>
      <hr id='hr_tag'>
      
        <div>
          <div *ngIf="id==1 || id==2 || id==3" class="flex_article">
            <div class='dateflex'>
              <h1 class='top_heading_1'>{{heading}}</h1>
              <p class='datetext'>Dec 15,2022</p>
            </div>
            <img class='articleimg' src={{img}} alt="">
            <div>
              <h1 class='top_heading_2'>{{subHeading}}</h1>
            <p class='top_para indent'>{{desc1}}</p>
            <ul class='headul'>
                <li>{{point1}}</li>
                <li>{{point2}}</li>
                <li>{{point3}}</li>
                <li>{{point4}}</li>
                <li>{{point5}}</li>
                <li>{{point6}}</li>
                <li>{{point7}}</li>
                <li>{{point8}}</li>
                <li>{{point9}}</li>
                <li>{{point11}}</li>
            </ul>
            <p class='summary'>{{summary}}</p>
            </div>
        </div>

            <div *ngIf="id==4" class="flex_article">
              <div class='dateflex'>
                <h1 class='top_heading_1'>{{heading}}</h1>
                <p class='datetext'>Dec 15,2022</p>
              </div>
                <img class='articleimg' src={{img}} alt="">
                <div>
                  <h1 class='top_heading_2'>{{subHeading}}</h1>
                <p class='top_para'>{{desc1}}</p>
                <h1 class='top_heading_3'>{{subHeading2}}</h1>
                <p class='top_para'>{{desc2}}</p>
                <h1 class='top_heading_3'>{{subHeading3}}</h1>
                <p class='top_para'>{{desc3}}</p>
                <h1 class='top_heading_3'>{{subHeading4}}</h1>
                <p class='top_para'>{{desc4}}</p>
                <ul class='headul'>
                    <li>{{point1}}</li>
                    <li>{{point2}}</li>
                    <li>{{point3}}</li>
                    <li>{{point4}}</li>
                    <li>{{point5}}</li>
                    <li>{{point6}}</li>
                    <li>{{point7}}</li>
                </ul>
                <p class='top_para'>{{subHeading5}} : {{desc5}}</p>
                <p class='summary'>{{summary}}</p>
                </div>
            </div>

            <div *ngIf="id==5" class="flex_article">
              <div class='dateflex'>
                <h1 class='top_heading_1'>{{heading}}</h1>
                <p class='datetext'>Dec 15,2022</p>
              </div>
                <img class='articleimg' src={{img}} alt="">
                <div>
                  <h1 class='top_heading_2'>{{subHeading}}</h1>
                <p class='top_para indent'>{{desc1}}</p>
                <h1 class='top_heading_3'>{{subHeading2}}</h1>
                <p class='top_para'>{{desc2}}</p>
                <h1 class='top_heading_3'>{{subHeading3}}</h1>
                <p class='top_para'>{{desc3}}</p>
                <h1 class='top_heading_3'>{{subHeading4}}</h1>
                <p class='top_para'>{{desc4}}</p>
                <ul class='headul'>
                    <li>{{point1}}</li>
                    <li>{{point2}}</li>
                    <li>{{point3}}</li>
                    <li>{{point4}}</li>
                    <li>{{point5}}</li>
                    <li>{{point6}}</li>
                </ul>
                <p class='top_para'>{{subHeading5}} : {{desc5}}</p>
                <p class='top_para'>{{subHeading6}} : {{desc6}}</p>
                <p class='summary'>{{summary}}</p>
                </div>
            </div>

            <div *ngIf="id==6" class="flex_article">
              <div class='dateflex'>
                <h1 class='top_heading_1'>{{heading}}</h1>
                <p class='datetext'>Dec 15,2022</p>
              </div>
                <img class='articleimg' src={{img}} alt="">
                <div>
                  <p class='top_para'>{{desc1}}</p>
                <h1 class='top_heading_3'>{{subHeading2}}</h1>
                <p class='top_para'>{{desc2}}</p>
                <h1 class='top_heading_3'>{{subHeading3}}</h1>
                <p class='top_para'>{{desc3}}</p>
                <ul class='headul'>
                    <li>{{point1}}</li>
                    <li>{{point2}}</li>
                    <li>{{point3}}</li>
                    <li>{{point4}}</li>
                </ul>
                <h1 class='top_heading_3'>{{subHeading4}}</h1>
                <p class='top_para'>{{desc4}}</p>
                <ul class='headul'>
                    <li>{{point5}}</li>
                    <li>{{point6}}</li>
                    <li>{{point7}}</li>
                    <li>{{point8}}</li>
                </ul>
                <h1 class='top_heading_3'>{{subHeading5}}</h1>
                <p class='top_para'>{{desc5}}</p>
                <ul class='headul'>
                    <li>{{point9}}</li>
                    <li>{{point11}}</li>
                    <li>{{point12}}</li>
                    <li>{{point13}}</li>
                    <li>{{point14}}</li>
                </ul>
                <p class='summary'>{{summary}}</p>
                </div>
                
            </div>
        </div>

      <div class="flex_e">
        <div class="flex_of_e">
          <h1 id="header_article2"  class="flex-items1">Explore Articles</h1>
        </div>
        <hr id="hr_tag1">
      </div>
      <div class='main-section'>
        <div class="explore">
            <img [routerLink] ='["../quartz-interesting-facts"]' class='exploreimg' src="./assets/images/article1.jpeg" alt="">
           <div class='flex_explore'>
            <p class='epara'> Quartz - Interesting Facts </p>
            <p class='article_p'>Dec 15,2022</p>
           </div>
            
        </div>
        <div class="explore"> 
            <img class='exploreimg' [routerLink] ='["../agate-importance"]' src="./assets/images/article2.jpeg" alt="">
            <div class='flex_explore'>
              <p class='epara'>Agate and It’s Importance</p>
              <p class='article_p'>Dec 15,2022</p>
             </div>
        </div>
        <div class="explore">
            <img id='thirdimg' class='exploreimg' [routerLink] ='["../graphite-impact-in-industries"]' src="./assets/images/article3.jpeg" alt="">
            <div id='thirdimgf'  class='flex_explore'>
              <p class='epara'>Graphite’s Impact in Industries</p>
              <p class='article_p'>Dec 15,2022</p>
             </div>
        </div>
      </div>


      <div class="flex8" id="ContactUs">
        <div id='flex_con' style=''>
         <div id='top_con'>
           <h1 id='head_con'>VBCRC</h1>
           <h1 id='head_con'>Newsletter</h1>
         </div>
         <div id='sign_con'>
           <p id='con_p'>Sign up and get </p>
           <ul id='ul_con'>
             <li>Information about all our Discounts</li>
             <li>Articles from our Research Centre</li>
             <li>Season/Festive and Referral Codes</li>
           </ul>
         </div>
         <div id='action_con'>
           <input placeholder='Email' id='con_input'>
           <button id='con_button'>Subcribe</button>
         </div>
        </div>
       </div>
       
       <br>
         <div class='flex10'>
           <div class='card10'>
             <p style="font-weight:500; margin-bottom: 10px;">COMPANY</p>
             <img src="./assets/images/foot1.png" alt="" [routerLink]='["/"]' style="cursor: pointer;">
             <br>
             <br>
             <p style='font-size:16px !important;'>3rd Link st, Nehru Nagar, Rajiv Gandhi Salai, Industrial Estate, Kottivakkam,
              Chennai - 600 041</p>
           </div>
           <div class='card10'>
             <p style="font-weight:500; margin-bottom: 10px;">SITEMAP</p>
             <ul style="display: flex; flex-direction: column; gap: 8px;">
               <li [routerLink]='["/"]'>Home</li>
               <li [routerLink] ='["/about"]'>About Us</li>
               <li [routerLink] ='["/service"]'>Services</li>
               <li [routerLink] ='["/gallery"]'>Gallery</li>
               <li [routerLink]='["/contact"]'>Contact Us</li>
             </ul>
           </div>
           <div class='card10'>
             <div class='card10_inner'>
               <p style="font-weight:500; margin-bottom: 10px;">SERVICES</p>
               <ul style="display: flex; flex-direction: column; gap: 8px;">
                <li [routerLink] ='["/service"]'>All Services</li>
                <li [routerLink] ='["/service/x-ray-diffraction-xrd"]'>X-Ray Diffraction</li>
                <li [routerLink] ='["/service/scanning-electron-microscope-sem"]'>SEM (3 Images)</li>
                <li [routerLink] ='["/service/x-ray-fluorescence-xrf"]'>X-Ray Fluorescence</li>
               </ul>
             </div>
             <div style="margin-top: 20px;">
               <p style="font-weight:500; margin-bottom: 10px;">SOCIALS</p>
               <div style='display: flex;flex-direction:row;gap:20px'>
                 <img src="./assets/images/mdi_linkedin (1).svg" alt="" (click)="socials('linkedIn')">
                 <img src="./assets/images/YouTube svg.svg" alt="" (click)="socials('youtube')">
                 <img src="./assets/images/Facebook svg.svg" alt="" (click)="socials('facebook')">
               </div>
             </div>
           </div>
           <div class='card10'>
             <div>
               <p style="font-weight:500; margin-bottom: 10px;">SUPPORT</p>
               <ul style="display: flex; flex-direction: column; gap: 8px;">
                 <li [routerLink]='["/contact"]'>Contact Us</li>
                 <li [routerLink]='["/contact"]'>Help centre</li>
               </ul>
             </div>
             <div style="margin-top: 20px;">
               <p style="font-weight:500; margin-bottom: 10px;">OUR GROUPS</p>
               <div style="display: flex; gap: 20px">
                 <img src="./assets/images/foot2.png" alt="" (click)="ourGroups('vbcc')">
                 <img src="../../assets//gallery-page-img/hi-tech.png" alt="" (click)="ourGroups('hiTemp')">
               </div>
             </div>
           </div>
         </div>
      </div>
</body>
<footer>
    <div class='footer'>
      <p  id='footer_p' style='padding: 20px 30px 0px 20px;'>©VB Ceramic Research Centre. All Rights Reserved.</p>
      <div class='cardfooter'>
        <p>English <span><img src="./assets/images/mdi_web.svg" alt=""></span></p><div class="separator"></div>
        <p>INR <span><img src="./assets/images/material-symbols_currency-rupee.svg" alt=""></span></p><div class="separator"></div>
        <p>Asia (India) <span><img src="./assets/images/mdi_clock.svg" alt=""></span></p>
      </div>
    </div>
  </footer>
</html>
