.navbar {
  padding: 20px 40px;
}

.bg-light {
  background-color: #132249 !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px !important;
  border-radius: 50px;
  color: white !important;
  font-family: Schibsted Grotesk;
}

.nav-link:hover {
  background: #cdd9fa;
  color: #132249 !important;
  border-radius: 50px;
  font-family: Schibsted Grotesk;
}

.navbar-nav {
  gap: 10px;
  color: #fff !important;
}
.navbar-toggler {
  border: unset;
  box-shadow: unset;
} 
.navbar-toggler img {
  width: 30px;
  height: 30px;
}

.navbar-toggler-icon {
  background-image: none !important;
}

#nav_contact {
  background: #cdd9fa;
  color: #132249 !important;
  border-radius: 50px;
  font-family: Schibsted Grotesk;
  text-decoration: none;
  border: 1px solid #132249;
}

#nav_contact:hover {
  /* border-radius: 20px; */
  /* border: 2px solid #132249; */
  border: 1px solid #FFF;
  background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
  color: white !important;
}

#nav_contact {
  display: flex;
  padding: 6px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.article_p{
  color: white;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0px;
}
.flex_of_1{
  padding: 20px 20px 5px 20px;
  display: flex;
justify-content: space-between;
width: 100%;
gap: 50px;

  }

.flex1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
}

#header_article{
  color:#132249 ;
  font-family: Unbounded;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 5%;
  transform: scale(1.5, 1.2);
  }

  #article_para{
    color: #000;
    width: 46%;
    margin-top: 0px;
    font-family: Schibsted Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    transform: scale(1, 1);
    }

.footer{
    display: flex;
    flex-direction: row;
    background-color: #132249;
    color: white;
  }

.cardfooter{
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
    padding: 20px 20px 0px 20px;
  }
  .main-section{
    width: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 800px) minmax(200px, 800px) minmax(200px, 800px);
    grid-row-gap: 10px;
    grid-column-gap: 1.5%;
    background: #132249;
    padding: 40px;
  }
.flex10{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    flex-direction: row;
    
  }

.card10{
    min-width: 320px;
    max-width: 340px;
    padding: 5px 40px;
  }
  
.card10 p {
    font-size: 20px;
  }

.card10 ul{
    padding-left:0px;
  }
  
.card10 li {
    font-size: 16px;
    background: url(/assets/images/arrowright.svg) left no-repeat;
    list-style-type: none;
    padding-left: 20px;
  
  }
 

  .flex8{   
    background-position: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.60) 0%, rgba(0,0,0, 0.60) 0%), url(/assets/images/bg_con.jpeg);
    background-color: #99ABD8;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: normal, color-burn, normal;
  }

#flex_con{
    display: flex;
    padding: 40px 60px;
    align-items: center;
    align-content: center;
    gap: 20px 40px;
    flex-wrap: wrap;
  }

#top_con,#sign_con, #action_con{
    flex:auto !important;
  }

#action_con{
    display: flex;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
  }
  
  #head_con{
    font-size: 40px;
    color: #FFF;
    font-family: Unbounded;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  #con_p{
    color: #FFF;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
  }
#con_input{
    border-radius: 8px;
    border: 1px solid #FFF;
    min-width: 300px;
    padding: 8px 16px;
    background:transparent;
    color: white;
  }
  
  #con_input::placeholder{
    color: rgba(255, 255, 255, 0.60);
font-family: Schibsted Grotesk !important;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }

#con_button{
  border-radius: 8px;
  background: #FFF;
  padding: 12px 16px;
  justify-content: center;
  color: var(--Primary-2, #132249);
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
  }

  #hr_tag{
    margin: 0px 40px;
    border: 1px solid #000;
    text-align: center;
    opacity: 1;
  }
  #top_section{
    padding:40px;
  }

  .flex_article{
    display: flex;
padding: 40px;
flex-direction: column;
align-items: center;
gap: 40px;
align-self: stretch;
  }
  .articleimg{
    width:100%;
    height:415px;
    object-fit:cover;
    border-radius:12px ;
  }

  .top_heading_1{
    color: #132249;
font-family: Unbounded;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 32px */
margin: 0px;
  }
  .top_heading_2{
    color: #333;
font-family: Schibsted Grotesk;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 170%; /* 47.6px */
  }
  .top_heading_3{
    color: #333;
    font-family: Schibsted Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; 
  }
  .top_para{
    color: #333;
font-family: Schibsted Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 34px */
  }
  .indent {
    text-indent: 50px;
  }
.summary{
color: #333;
font-family: Schibsted Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 34px */
margin: 0px;
  }
  .headul {
    padding:5px 40px;
  }
  .headul > li{
    color: #333;
    font-family: Schibsted Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 34px */
  }


  /* .flex_explore{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #132249;
    padding: 10px 40px;;
  }
  */
  #header_article2{
    color:white !important;
    font-family: Unbounded;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
  }
  .epara{
    color: #FFF;
    font-family: Unbounded;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0px;
  }

  .flex_e {
    background-color: #132249;
  }
  .flex_of_e{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:27px;
    padding: 40px 40px 20px 40px;
    }

    .explore{
      /* width: 30%; */
    }

  .exploreimg{
    width:100%;
    height: 319px;
    border-radius: 12px;
  }

  .separator{
    background: #FFF;
    width: 1px;
    height: 26px;
  }
  ul {
    padding: 0;
    
  }
  .card10  > ul > li {
      display: inline-block;
      font-size: 16px; 
  }
  .card10  > ul > li.grow {
        transition: all .2s ease-in-out; 
      }
      .card10  > ul > li:hover {
        padding-left: 30px;
        /* transform: scale(1.2); */
        font-size: 16px; 
        cursor: pointer;
  }
  .card10  > div > ul > li:hover {
        padding-left: 30px;
        font-size: 16px; 
        cursor: pointer;
  }
  .card10  > img:hover{
    transform: scale(1.2);
  }
  .card10 > div > div  > img:hover{
    transform: scale(1.2);
  }

  .hero {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
  }
  
  .gallery-text {
    color: #132249;
    width: 50%;
    font-family: Unbounded;
    font-size: clamp(1rem, 8vw, 8rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .stretch {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.5, 1.4);
  }
  
  .gall-para {
    color: #000;
    width: 50%;
    font-family: Schibsted Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 30px */
  }
  .gall-para p{
    margin: 0px;
  }
  #hr_tag1{
    margin: 0px 40px;
    border: 1px solid #FFF;;
    text-align: center;
    opacity: 1;
  }
  #con_button:hover{
    background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
    color: white !important;
    border: 2px solid white;
  }
  #ul_con{
    color: #FFF;
  font-family: Schibsted Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-left: 30px;
  }
  
  .dateflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 15px;
    column-gap: 40px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .datetext{
    color: #666;
font-family: Schibsted Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
margin: 0px;
  }
  @media (max-width: 1320px) {
    
  
    .gall-para {
      font-size: 18px;
    }
  }
  @media (max-width: 1200px) {
    .explore{
      /* width: 30%; */
    }
  
  .exploreimg{
    width:100%;
    height: 270px;
  } 
  }
  @media (max-width: 1100px) {
  
    .gall-para {
      font-size: 17px;
    }
  }
  @media only screen and (max-width: 1150px){
  #action_con{
    width: 100%;
  }
  #con_input{
    width: 100%;
  }
}
  @media only screen and (max-width: 1003px){
    #top_con,#sign_con,#action_con{
      flex:1 0 0 !important;
    }
  }
  @media only screen and (max-width:1003px) and (min-width: 601px)  {
    #top_con,#sign_con,#action_con{
      flex:auto !important;
    }
    .main-section{
      width: 100%;
      display: grid;
      grid-template-columns: minmax(200px, 800px) minmax(200px, 800px) ;
      grid-row-gap: 10px;
      grid-column-gap: 1.5%;
      background: #132249;
      padding: 40px;
    }
    #thirdimg,#thirdimgf{
      width: 200%;
    }
  }
  .flex_explore{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0px;
  }
  @media (max-width: 992px) {
    .nav-item{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-item-contact {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .gall-para {
      font-size: 16px;
    }
    .explore{
      width: auto;
    }
  

  }
  
  @media only screen and (max-width: 900px) {
    #article_para,#library_para,#article_para2{
      flex:auto;
    }
    #header_article{
      text-align: center;
    }
    .gallery-text {
      width: 100%;
      text-align: center;
      font-size: clamp(1rem, 14vw, 10rem) !important;
    }
    
    .gall-para {
      width: 100%;
      font-size: 18px;
      text-align: center;
    }
    
    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .flex10{
      padding: 40px;
      justify-content: flex-start;
      gap: 20px 50px;
    }
    .card10{
      padding: 0px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .flex_of_e{
      gap: 0px;
      flex-direction: column;
    }
    .main-section{
      width: 100%;
      display: grid;
      grid-template-columns: minmax(200px, 800px) ;
      grid-row-gap: 10px;
      grid-column-gap: 1.5%;
      background: #132249;
      padding: 20px 40px;
    }
    .cardfooter{
      display: none;
    }
    .footer{
      flex-direction: column-reverse;
      text-align: center;
    }
    .top_heading_1{
      font-size: 28px;
    }
    .datetext{
      font-size: 17px;
    }
  }
  @media only screen and (max-width: 700px) {
    .top_heading_1{
      font-size: 26px;
    }
    .datetext{
      font-size: 15px;
    }
    .top_para, .summary, .headul >li{
      font-size: 18px;
    }
    .article_p,.epara{
      font-size: 14px ;
    }
  }

  @media only screen and (max-width: 650px) {
    .flex_of_1{
      justify-content: center;
      gap: 0px;
    }
    #header_article,#header_article2{
      font-size: 20px ;
    }
    #article_para,#article_para2{
      font-size: 15px ;
    }

  .top_heading_2{
    font-size: 24px;
  }
  /* .top_heading_1,.datetext{
    font-size: 14px;
  } */
  .gall-para {
    font-size: 16px;
  }
  .hero {
    padding: 20px;
  }
  .flex_article{
padding: 20px;
gap: 20px;
  }

  #flex_con{
    padding: 40px 60px;
  }
  .navbar {
    padding: 20px;
  }
  
  #hr_tag, #hr_tag1{
    margin: 0px 20px;
  }
  .articleimg{
    height: 350px;
  }
  .flex10{
    padding: 20px;
  }

  }

  @media (max-width: 600px) {
  .top_heading_1{
    font-size: 26px;
  }
  .datetext{
    font-size: 18px;
  }
    #sign_con{
      padding-left: 10px;
    }   
    .flex_of_e{
      padding:10px 20px;
    }
    .main-section{
      padding:20px;
    }
    .flex_of_e{
      padding: 20px;
      }
    
  .headul {
    padding: 5px 20px;
}
#flex_con{
  padding: 20px 20px;
}
  }

  @media only screen and (max-width:590px) {
    #con_button{
      margin:10px 2px;
    }
  }

  @media (max-width: 499px) {
    .top_heading_1{
      font-size: 20px;
    }
    .datetext {
      font-size: 16px;
    }
    #head_img{
      margin-left: 20px !important;
    }
    .article_p,.epara{
      font-size:12px ;
    }
   
    .gall-para {
      font-size: 15px;
    }
    .articleimg{
      height: 240px;
    }
    .top_heading_2{
      font-size: 20px;
    }
    .top_para, .summary, .headul >li{
      font-size: 16px;
    }
    #con_input{
      min-width: 160px;
    }
  }
  @media (max-width: 450px){
    #footer_p {
      font-size: 13px;
  }
  }

  