/* .container{
    height: 200px;
    width: 200px;
    background-color:aquamarine ;
}
.containers-section{
    display: flex;
} */

.navbar-light .navbar-toggler-icon {
    background: url(/assets/images/menu_own.svg) left no-repeat;
  }

/* Navbar */
.navbar-brand{padding: 0px 40px 0px 40px;color:white !important;font-family: Unbounded;font-size: 16px;font-style: normal;font-weight: 600;line-height: 16px; }
.bg-light {background-color: #132249 !important;}
.nav-link{color:white!important;display: flex;padding: 20px;justify-content: center;align-items: center;gap: 8px;font-family: Schibsted Grotesk;}
.nav-link:hover{color:grey!important}
#navbarSupportedContent{padding-right: 40px;}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #132249;
    color: white;
  }

.cardfooter{
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
    padding: 20px 20px 0px 20px;
  }

  .flex10{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    flex-direction: row;
    
  }

  .card10{
    min-width: 320px;
    max-width: 340px;
    padding: 5px 40px;
  }
  
  .card10 p {
    font-size: 20px;
  }
  .card10 ul{
    padding-left:0px;
  }
  
  .card10 li {
    font-size: 16px;
    background: url(/assets/images/arrowright.svg) left no-repeat;
    list-style-type: none;
    padding-left: 20px;
  
  }


  :root {
    --dark: #373349;
    --gap: 15px;
    --width: 240px;
    --height: var(--width);
  }
  
  body {
    margin: var(--gap);
  }
  
  .container > a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    overflow: hidden;
    border-radius: 12px;
    margin-left: 5px;
    margin-top: 2px;
  }
  .container > a >p{
    margin-left:5px;
  }
  
  .container > a::after {
    content: "";
    background: linear-gradient(transparent);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(100%);
    transition-duration: .75s;
  }
  
  .container > a:hover::after {
    transform: translateY(50%);
  }
  
  .container > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 1s;
  }
  
  .container > a:hover > img {
    transform: scale(1.05);
  }
  
  .container {
    display: grid;
    grid-gap: 20px;
    height: 80vh;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: var(--height);
    grid-auto-flow: dense;
  }
  
  .horizontal {
    grid-column: span 2;
  }
  
  .vertical {
    grid-row: span 2;
  }
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
  .main-section{
    padding:40px;
  }
  #header_article{
    color:#132249 ;
    font-family: Unbounded;
    font-size: 68px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
    #header_article2{
      color:white;
      font-family: Unbounded;
      font-size: 68px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      }
  #article_para{
      color: black;
      font-family: Schibsted Grotesk;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      place-self:center;
      flex:1;
    }
    #article_para2{
      color: white;
      font-family: Schibsted Grotesk;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      place-self:center;
      flex:1;
    }
  .flex_of_1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:27px;
    padding: 0px 20px 0px 29px;
    }
 
    .flex1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .flex3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background:#132249 ;
      padding: 21px 51px;
    }


    .image1{
      display: table;
      border-radius: 12px;
    }

    .flex2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap !important;
      background:#132249 ;
    }
    .flex-items2{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap !important;
    }
    
    .articleimg{
      width:630px;
      height:300px;
      object-fit:cover;
      border-radius:12px ;
    }

    .main-section2{
      padding: 30px 0px 0px 0px;
    }

  #library_para{
      color:white;
      font-family: Unbounded;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      margin: 10px 0px 10px 0px;
    }


  .flex8{   
    background-image: linear-gradient( rgba(0, 0, 0, 0.60) 0%, rgba(10, 41, 76, 0.60) 0%), url(/assets/images/bg_con.jpeg);
    background-color:#99ABD8;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
  }
  #flex_con{
    display: flex;
    padding: 40px 60px;
    align-items: center;
    align-content: center;
    gap: 20px 40px;
    flex-wrap: wrap;
  }
  #top_con,#sign_con,#action_con{
    flex:auto !important;
  }
  #head_con{
    font-size: 40px;
    font-weight: 500;
  }
  #head_con,#ul_con,#action_con,#con_p{
    color:white;
  
  }
  #con_input{
    border-radius: 8px;
    border: 1px solid #FFF;
    min-width: 160px;
    padding: 8px 16px;
    background:transparent;
  }
  
  #con_button{
  margin-left:15px;
  border-radius: 8px;
  background: #FFF;
  padding: 8px 16px;
  justify-content: center;
  }
  
  #hr_tag{
    width: 90%;
    margin: auto;
    color: white;
    border: 1px solid white;
    text-align: center;
  }


.text-bottom {
    display: table;
    border-radius: 0px 12px;
    border: 1px solid #000;
    background: #FFF;
    display: table-cell;
    position: absolute;
    z-index: 2;
    padding: 5px;
  }
  .text-bottom {
    bottom: 7%;
    left: 0%;
}
.text-big {
  bottom: 3% !important;
  left: 0% !important;
}
.textl{
  color: #000;
  font-family: Unbounded;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  
}

#top_of_lib{
  display: flex;
  flex-direction: column;
}
#top_of_lib2{
  display: flex;
  flex-direction: column;
}
.bottom-left{
  position: absolute;
  margin: 0;
  padding: 5px;
  word-break: break-word;
  font-size: 14px;
  background-color: rgba(0,0,0,.3);
  color: #f2f2f2;
  border-radius: 0px 12px;
  border: 1px solid #FFF;
  background: #132249;
}
.flex-items2 {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */
  display: grid;
  grid-template-columns: minmax(100px, 500px) minmax(100px, 500px);
  grid-row-gap: 10px;
  grid-column-gap: 1.5%;
}