* {
  margin: 0px;
  box-sizing: border-box;
}

.about_section {
  display: inline-flex;
  width: 100% !important;
  padding: 0px 2.5% !important;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.sticky-top {
  position: fixed !important;
  z-index: 0.5 !important;
}
.contactBtn {
  border: 2px solid #132249 !important; 
}
.contactBtn:hover {
  border: 2px solid #132249;
  background: linear-gradient(97deg, #42047E -13.15%, #07F49E 129.06%);
}

.navbar {
  padding: 20px 0px;
  width: 25%;
  height: 100%;
  left: 2.5%;
}

.side_navbar {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px;
  border: 1px solid rgba(24, 25, 119, 0.10);
  background: #EDF1FD;

}

.nav_section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  align-self: stretch;
}

.navbar_top {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.navbar_top_text {
  color: #000;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 100% */
}

.navbar_top_text img {
  width: 100%;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 10%;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

/* Styling the hamburger lines */
.menu-btn .btn-line {
  width: 20px;
  height: 2.2px;
  margin: 0 0 6px 0;
  background: black;
  transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
  transform: rotate(180deg);
}

/* Styling the three lines to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* Styling the position of the menu icon */
.menu {
  display: none;
}

.menu.show {
  display: block;
}

.menu .menu_cnt {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}

.menu .menu_navbar-nav {
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 10%;
  padding: 0px;
  list-style-type: none;
}

.menu .menu_navbar-nav a {
  text-decoration: none;
  color: #333;
}

.navbar_about_text {
  color: #132249;
  font-family: Unbounded;
  font-size: 48px;
  text-align: justify;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: stretch;
}

.nav_sec1 {
  width: 100%;
}

.nav_section2 {
  width: 100%;
}

.navbar_ul {
  padding-left: 0px;
}

.navbar_li {
  display: flex;
  padding: 3% 0%;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-bottom: 1px solid #969696;
}

.navbar_li a {
  display: flex;
  gap: 10px;
  color: #132249 !important;
  cursor: pointer;
  text-decoration: none;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  flex: 1 0 0;
}

.main {
  display: flex;
  width: 73%;
  padding: 20px 12px 0px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 28%;
  overflow: hidden;
  
}

.fixed {
  width: 100%;
  height: 20px;
  position: fixed;
   top: 0;
   right: 0;
   background-color: white;
}
.menu,
.main_section1,
.main_section2,
.main_section3,
.main_section4,
.main_section5,
.main_section6,
.main_section7,
.main_section8{
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(24, 25, 119, 0.10);
  background: #EDF1FD;
}

.menu_nav-link{
  font-size: 20px;

}
.menu_nav-item {
  padding: 10px 16px !important;
  border: 1px solid #EDF1FD;
}
.menu_nav-item:hover{
  border-radius: 20px;
border: 1px solid rgba(24, 25, 119, 0.10);
background: #cdd9fa;
}
.main_section1_header,
.main_section2_header,
.main_section3_header,
.main_section4_header,
.main_section5_header,
.main_section6_header,
.main_section7_header,
.main_section8_header {
  display: flex;
  padding: 20px 0px 0px 20px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.main_section1_head,
.main_section2_head,
.main_section3_head,
.main_section4_head,
.main_section5_head,
.main_section6_head,
.main_section7_head,
.main_section8_head {
  color: #132249;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  flex: 1 0 0;
}

.main_section1_content,
.main_section2_content,
.main_section5_content,
.main_section6_content,
.main_section7_content,
.main_section8_content {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.main_section1_img,
.main_section1_img img {
  width: 100%;
  border-radius: 20px;
  align-self: stretch;
  background: url('../../assets/About_service.jpg'), lightgray -17.891px -372.703px / 108.596% 265.53% no-repeat;
}

.main_section1_cnt,
.main_section2_cnt,
.main_section5_cnt,
.main_section6_cnt,
.main_section7_top_cnt,
.main_section8_cnt {
  color: #333;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  align-self: stretch;
}

.main_section2_img,
.main_section2_img img {
  width: 100%;
  border-radius: 20px;
  align-self: stretch;
  background: url('../../assets/About_vision.jpg'), lightgray -17.891px -372.703px / 108.596% 265.53% no-repeat;
}

.main_section3_content,
.main_section4_content {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  align-self: stretch;
  flex-wrap: wrap;
}

.main_section3_cnt,
.main_section4_cnt {
  width: 200px;
}

.main_section4_cnt{
  cursor: pointer;
}

.main_section3_cnt img,
.main_section4_cnt img {
  width: 100%;
  height: auto;
  border-radius: 14px;
  background: #FFF;
}

.section3_cnt,
.section4_cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.section3_cnt .section3_name,
.section4_cnt .section4_name {
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.section3_cnt .section3_education,
.section4_cnt .section4_education {
  color: #000;
  font-family: Schibsted Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.main_section5_img,
.main_section5_img img {
  width: 100%;
  border-radius: 20px;
  align-self: stretch;
  background: url('../../assets/About_fellowship.png'), lightgray -17.891px -372.703px / 108.596% 265.53% no-repeat;
}

.section5_images {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: 20px;
}

.section5_images1 .fellowship_img1 {
  width: 180px;
  height: 200px;
}

.section5_images2 .fellowship_img2,
.section5_images3 .fellowship_img3 {
  align-self: stretch;
  border-radius: 14px;
  width: 250px;
  height: 200px;
}

#section5_images1 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
}

#section5_image{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.section5_images1 .fellowship_img1,
.section5_images1 .modal_img1 {
  background: url('../../assets/Fellowship_Gallery_1.jpg'), lightgray 50% / cover no-repeat, #FFF;
}

.section5_images2 .fellowship_img2 {
  background: url('../../assets/Fellowship_Gallery_2.png'), lightgray 50% / cover no-repeat, #FFF;
}

.section5_images3 .fellowship_img3 {
  background: url('../../assets/Fellowship_Gallery_3.jpg'), lightgray 50% / cover no-repeat, #FFF;
}

.main_section6_img,
.main_section6_img img {
  width: 100%;
  border-radius: 20px;
  align-self: stretch;
  background: url('../../assets/About_research.png'), lightgray -17.891px -372.703px / 108.596% 265.53% no-repeat;
}

.main_section6_cnt .research_papers .research_papers_list .list {
  color: #333;
  cursor: pointer;
}

#fellowship_img.zoomed {
  transform: scale(3.5);
  z-index: 1;
}

/* .main_section6_cnt .research_papers .research_papers_list .list:visited {
  color: #c254af
} */

.main_section6_cnt .research_papers .research_papers_list .list:hover {
  color: #132249
}

/* .main_section6_cnt .research_papers .research_papers_list .list:active {
  color: #0000FF
} */
.tooltip-class {
  width: auto;
  height: auto;
}

.main_section7_cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.main_section6_img,
.main_section6_img img {
  width: 100%;
  border-radius: 20px;
  align-self: stretch;
  background: url('../../assets/About_projects.png'), lightgray -17.891px -372.703px / 108.596% 265.53% no-repeat;
}

.section7_projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.research_projects {
  color: #333;
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.research_projects_div {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
}

.research_projects_cnt {
  color: #333;

  /* Para 1 Medium */
  font-family: Schibsted Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 32px */
  flex: 1 0 0;
}

.main_section7_img,
.main_section7_img img {
  width: 100%;
  border-radius: 20px;
  align-self: stretch;
  background: url('../../assets/About_projects.png'), lightgray -17.891px -372.703px / 108.596% 265.53% no-repeat;
}

.main_section8_img,
.main_section8_img img {
  width: 100%;
  border-radius: 20px;
  align-self: stretch;
  background: url('../../assets/About_academic.png'), lightgray -17.891px -372.703px / 108.596% 265.53% no-repeat;
}

/* .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 0.7;
  cursor: pointer;
} */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2000;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  padding: 20px;
  border: 1px solid #888;
  top: 25%;
  left: 25%;
  width: 50%;
  cursor: pointer;
}


.modal-content1 {
  padding: 40px;
  border: 1px solid #888;
  top: 20%;
  left: 25%;
  width: 50%;
  position: relative;
}

/* The Close Button */
.close {
  position: absolute;
  color: #132249;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
  opacity: 1;
  top: 45px;
  right: 7%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.scroll-to-top {
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.flex10 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  background: #EDF1FD;
  width: 100%;
  border-radius: 20px;
  padding: 20px 10%;
  border: 1px solid rgba(24, 25, 119, 0.10);
  color: #000;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.card10 {
  min-width: 320px;
  max-width: 340px;
  padding: 20px 10px;
}

.card10 p {
  font-size: 20px;
}

.card10 ul {
  padding-left: 0px;
}

.card10 li {
  font-size: 16px;
  background: url(/assets/images/arrowright.svg) left no-repeat;
  list-style-type: none;
  padding-left: 20px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.card10 li:hover {
  padding-left: 30px;
  transition: 0.2s;
}

.footer_img {
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.footer_img:hover {
  transform: scale(1.1);
 }

 .hitech{
  height: 50px;
 }
.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #132249;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
font-family: Schibsted Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.cardfooter {
  gap: 20px;
  display: flex;
  flex-direction: row;
  float: right;
  margin-left: auto;
  padding: 20px 20px 0px 20px;
}

.separator {
  background: #FFF;
  width: 1px;
  height: 26px;
}

.modalDiv {
  display: flex; flex-wrap: wrap; gap: 30px; justify-content: center;align-items: center;padding: 20px
}
.modalImage {
  width: 35%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px;
}

.modalImage .img_img {
  width: 80%;
}
.modalImage .uma_img {
  width: 70%;
}
.modalProfile {
  width: 60%; display: flex; flex-direction: column; gap: 30px;
}
.modal_top {
  width: 60%; padding: 2%;top: 10%; left: 25%;
}
.modal_top2 {
  width: 50%; padding: 2%;top: 20%; left: 25%;
}
.modal_img1, .modal_img2, .modal_img3 {
  height: 400px;
}

.btn {
  border-radius: 50%;
  background-color: #EDF1FD;
}
.section5_images1,
  .section5_images2,
  .section5_images3 {
    cursor: pointer;
  }
@media (max-width: 1420px) {
  .navbar_about_text {
    font-size: 40px;
  }
}

@media (max-width: 1200px) {
  .navbar_about_text {
    font-size: 35px !important;
  }

  .navbar_top_text img {
    width: 90%;
  }
  .modalImage {
    width: 50%;
  }

  .modalImages .uma_img {
    width: 100%;
  }
  .modalProfile {
    width: 90%;
  }
}

@media (max-width: 1060px) {
  .navbar_about_text {
    font-size: 30px !important;
  }

  .navbar_top_text img {
    width: 80%;
  }

  .navbar_li a {
    font-size: 18px;
  }
  .navbar_li {
    padding: 10px 0%;
    gap: 7px;
  }

  .menu_nav-link{
    font-size: 18px;
  }

  .main_section1_cnt,
  .main_section2_cnt,
  .main_section5_cnt,
  .main_section6_cnt,
  .main_section7_top_cnt,
  .main_section8_cnt,
  .research_projects,
  .research_projects_cnt {
    font-size: 18px;
  }
  .modal-content1 {
    padding: 20px;
  }
}

@media (max-width: 960px) {

  .navbar_about_text {
    font-size: 25px !important;
  }

  .navbar_li a {
    font-size: 17px;
  }
  .menu .menu_navbar-nav {
    gap: 5%;
  }
}

@media (max-width: 920px) {
  .navbar_about_text {
    font-size: 22px !important;
  }

  .navbar_li a {
    font-size: 16px;
  }

  .navbar_li a svg {
    display: none;
  }

  .menu_nav-link{
    font-size: 17px !important;
  }

  .main_section1_cnt,
  .main_section2_cnt,
  .main_section5_cnt,
  .main_section6_cnt,
  .main_section7_top_cnt,
  .main_section8_cnt,
  .research_projects,
  .research_projects_cnt {
    font-size: 17px !important;
  }
  
}

@media (max-width: 850px) {


  .navbar_top_text img {
    width: 70%;
  }

  .menu_nav-link{
    font-size: 16px !important;
  }

  .main_section1_cnt,
  .main_section2_cnt,
  .main_section5_cnt,
  .main_section6_cnt,
  .main_section7_top_cnt,
  .main_section8_cnt,
  .research_projects,
  .research_projects_cnt {
    font-size: 17px !important;
  }

  .menu .menu_navbar-nav {
    gap: 2%;
  }
}

@media (max-width: 760px) {
  .row {
    flex-direction: column !important;
  }

  .col-sm-3 {
    width: 100%;
  }

  .navbar {
    height: auto;
    width: 100%;
    padding-bottom: 0px;
  }

  .sticky-top {
    position: sticky !important;
  }

  .navbar_about_text {
    font-size: 90px !important;
    text-align: center;
  }

  .navbar_top_text img {
    width: 100%;
  }

  .navbar_ul {
    display: flex !important;
    justify-content: space-between;
  }

  .navbar_li a svg {
    display: block;
  }

  .d-sm-inline {
    display: none !important;
  }

  .menu .menu_navbar-nav {
    gap: 7%;
  }
  .menu_nav-item {
    padding: 10px 10px !important;
  }
  .contactBtn{
    padding: 5px 10px !important;
  }
  .main {
    width: 100%;
    padding: 16px;
    margin-left: 0px;
    gap: 16px;
  }

  .section5_images {
    justify-content: center;
    border-radius: 10px;
  }

  .section5_images1,
  .section5_images2,
  .section5_images3 {
    width: 100%;
    align-self: stretch;
    display: flex;
    justify-content: center;
  }

  .section5_images1 .fellowship_img1,
  .section5_images2 .fellowship_img2,
  .section5_images3 .fellowship_img3 {
    width: 75%;
  }

  .section5_images .modal {
    display: none !important;
  }
  .menu_nav-link{
    font-size: 16px !important;
  }
  .main_section1_cnt,
  .main_section2_cnt,
  .main_section5_cnt,
  .main_section6_cnt,
  .main_section7_top_cnt,
  .main_section8_cnt,
  .research_projects,
  .research_projects_cnt {
    font-size: 16px !important;
  }

  .modalImage {
    width: 90%;
  }
  .modalImage .img_img {
    width: 75%;
  }
}

@media (max-width: 672px) {
  .navbar_about_text {
    font-size: 75px !important;
  }
  .modal_top {
    width: 70%; left: 15%;
  }
  .modal_top2 {
    width: 60%; left: 20%;
  }
}
@media (max-width: 576px) {
  .navbar_about_text {
    font-size: 70px !important;
  }

  .menu .menu_navbar-nav {
    width: 90%;
    justify-content: center;
  }
  .menu_cnt {
    justify-content: center !important;
  }

}


@media (max-width: 530px) { 
  .navbar_about_text {
    font-size: 60px !important;
  }
}
@media (max-width: 500px) {
  .navbar_about_text img{
    width: 60%;
  }
  .menu_nav-link{
    font-size: 14px !important;
  }
  .main_section1_cnt,
  .main_section2_cnt,
  .main_section5_cnt,
  .main_section6_cnt,
  .main_section7_top_cnt,
  .main_section8_cnt,
  .research_projects,
  .research_projects_cnt {
    font-size: 14px !important;
  }
  .navbar_about_text {
    font-size: 60px !important;
  }
  
}
@media (max-width: 500px) {
  .navbar_about_text img{
    width: 60%;
  }
  .menu_nav-link{
    font-size: 14px !important;
  }
  .main_section1_cnt,
  .main_section2_cnt,
  .main_section5_cnt,
  .main_section6_cnt,
  .main_section7_top_cnt,
  .main_section8_cnt,
  .research_projects,
  .research_projects_cnt {
    font-size: 14px !important;
  }
  .navbar_about_text {
    font-size: 50px !important;
  }

  .navbar_ul {
    gap: 2% !important;
  }

  .navbar_li a {
    padding: 2px !important;
  }

  .navbar_li a svg {
    width: 20px;
  }
  .modal_top {
    width: 80%; top: 3%; left: 10%;
  }
  .modal_top2 {
    width: 70%; top: 3%; left: 15%;
  }
  .card10{
    min-width: 240px;
  }

  .menu .menu_navbar-nav {
    width: 100%;
    gap: 9%;
  }
  .menu_nav-item {
    padding: 0px !important;
  }
}

@media (max-width: 420px) { 
  .navbar_about_text {
    font-size: 45px !important;
  }
  .menu_cnt {
    justify-content: center !important;
  }
  .menu .menu_navbar-nav {
   
  }
}

@media (max-width: 360px) { 
  .navbar_about_text {
    font-size: 40px !important;
  }
  .menu .menu_navbar-nav {
    width: 100%;
    gap: 5%;
  }
}