<div class="about_section">
  <nav class="navbar">
    <div class="side_navbar">
      <div class="nav_section1">
        <div class="navbar_top">
          <div class="navbar_top_text">
              VBCRC
          </div>
          <div class="nvbar_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M5 7L19 7" stroke="black" stroke-width="2" stroke-linecap="round"/>
              <path d="M5 12L19 12" stroke="black" stroke-width="2" stroke-linecap="round"/>
              <path d="M5 17L19 17" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>   
          </div>
        </div>
        <div class="navbar_about">
          <div class="navbar_about_text">ABOUT US</div>
        </div>
      </div>
      <div class="nav_section2">
        <ul class="navbar_ul">
          <li class="navbar_li"><a href="#Profile">Profile</a></li>
          <li class="navbar_li"><a href="#Vision">Vision & Mission</a></li>
          <li class="navbar_li"><a href="#Team">Team</a></li>
          <li class="navbar_li"><a href="#Expert_Panel">Expert Panel</a></li>
          <li class="navbar_li"><a href="#VBCC_Fellowship">VBCC Fellowship</a></li>
          <li class="navbar_li"><a href="#Research_Papers">Research Papers</a></li>
          <li class="navbar_li"><a href="#Research_Projects">Research Projects</a></li>
          <li class="navbar_li"><a href="#Academic_Activity">Academic Activity</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="main">
      <section class="main_section1" id="Profile">
        <div class="main_section1_header">
          <h2 class="main_section1_head">Profile</h2>
        </div>
        <div class="main_section1_content">
          <div class="main_section1_img">
            <img src="../../assets/About_service.jpg"/>
          </div>
          <div class="main_section1_cnt">
            <p>
              {{profileContent}}
            </p>
            <br>
            <p>
              {{profileContent2}}
            </p>
            <br>
            <p>
              {{profileContent3}}
            </p>
          </div>
        </div>
      </section>
      <section class="main_section2" id="Vision">
        <div class="main_section2_header">
          <h2 class="main_section2_head">Vision & Mission</h2>
        </div>
        <div class="main_section2_content">
          <div class="main_section2_img">
            <img src="../../assets/About_vision.jpg"/>
          </div>
          <div class="main_section2_cnt">
            <p>{{visionContent}}</p>
            <div>
              <ul>
                <li>{{visionContentLi1}}</li>
                <li>{{visionContentLi2}}</li>
                <li>{{visionContentLi3}}</li>
                <li>{{visionContentLi4}}</li>
                <li>{{visionContentLi5}}</li>
                <li>{{visionContentLi6}}</li>
                <li>{{visionContentLi7}}</li>
                <li>{{visionContentLi8}}</li>
                <li>{{visionContentLi9}}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="main_section3" id="Team">
        <div class="main_section3_header">
          <h2 class="main_section3_head">Team</h2>
        </div>
        <div class="main_section3_content">
          <div class="main_section3_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section3_cnt">
              <div class="section3_name">Dr.V.Viswabaskaran</div>
              <div class="section3_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section3_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section3_cnt">
              <div class="section3_name">Dr.V.Viswabaskaran</div>
              <div class="section3_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section3_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section3_cnt">
              <div class="section3_name">Dr.V.Viswabaskaran</div>
              <div class="section3_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section3_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section3_cnt">
              <div class="section3_name">Dr.V.Viswabaskaran</div>
              <div class="section3_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section3_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section3_cnt">
              <div class="section3_name">Dr.V.Viswabaskaran</div>
              <div class="section3_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section3_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section3_cnt">
              <div class="section3_name">Dr.V.Viswabaskaran</div>
              <div class="section3_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
        </div>
      </section>
      <section class="main_section4" id="Expert_Panel">
        <div class="main_section4_header">
          <h2 class="main_section4_head">Expert Panel</h2>
        </div>
        <div class="main_section4_content">
          <div class="main_section4_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section4_cnt">
              <div class="section4_name">Dr.V.Viswabaskaran</div>
              <div class="section4_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section4_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section4_cnt">
              <div class="section4_name">Dr.V.Viswabaskaran</div>
              <div class="section4_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section4_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section4_cnt">
              <div class="section4_name">Dr.V.Viswabaskaran</div>
              <div class="section4_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section4_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section4_cnt">
              <div class="section4_name">Dr.V.Viswabaskaran</div>
              <div class="section4_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section4_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section4_cnt">
              <div class="section4_name">Dr.V.Viswabaskaran</div>
              <div class="section4_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
          <div class="main_section4_cnt">
            <img src="../../assets/photo.png"/>
            <div class="section4_cnt">
              <div class="section4_name">Dr.V.Viswabaskaran</div>
              <div class="section4_education">M.Tech, Ph.D, F.I.I</div>
            </div>
          </div>
        </div>
      </section>
      <section class="main_section5" id="VBCC_Fellowship">
        <div class="main_section5_header">
          <h2 class="main_section5_head">VBCC Fellowship</h2>
        </div>
        <div class="main_section5_content">
          <div class="main_section5_img">
            <img src="../../assets/About_fellowship.png"/>
          </div>
          <div class="main_section5_cnt">
            <p>
              {{fellowship}}
            </p>
            <br>
            <p>
              {{fellowship1}}
            </p>
            <br>
            <p>
              {{fellowship2}}
            </p>
            <br>
            <p>
              {{fellowship3}}
            </p>
          </div>
          <div class="section5_images">
              <div class="section5_images1">
                <img src="../../assets/Fellowship_Gallery_1.jpg"/>
              </div>
              <div class="section5_images2">
                <img src="../../assets/Fellowship_Gallery_2.png"/>
              </div>
              <div class="section5_images3">
                <img src="../../assets/Fellowship_Gallery_3.jpg"/>
              </div>
          </div>
        </div>
      </section>
      <section class="main_section6" id="Research_Papers">
        <div class="main_section6_header">
          <h2 class="main_section6_head">Research Papers</h2>
        </div>
        <div class="main_section6_content">
          <div class="main_section6_img">
            <img src="../../assets/About_research.png"/>
          </div>
          <div class="main_section6_cnt">
            <ul class="research_papers">
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/nano-technology-synthesis-and%20-fabrication%20-via-chemical-vapor-deposition.pdf" class="list">{{research_papers}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/Ceramics%20International.pdf" class="list">{{research_papers1}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/news1.pdf" class="list">{{research_papers2}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/news2.pdf" class="list">{{research_papers3}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/news3.pdf" class="list">{{research_papers4}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/news4.pdf" class="list">{{research_papers5}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/CSR_CERI.pdf" class="list">{{research_papers6}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/CSR_JMAD.pdf" class="list">{{research_papers7}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/RRST_UMA.pdf" class="list">{{research_papers8}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/Effect-of-chemical-vapor-deposition.pdf" class="list">{{research_papers9}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/catalytic-chemical-vapor-deposition.pdf" class="list">{{research_papers10}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/optimation-chemical.pdf" class="list">{{research_papers11}}</a></li>
              <li class="research_papers_list"><a href="http://www.drvbceramicresearch.com/pdf/Manufacturing%20-Technology-Today.pdf" class="list">{{research_papers12}}</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="main_section7" id="Research_Projects">
        <div class="main_section7_header">
          <h2 class="main_section7_head">Research Projects</h2>
        </div>
        <div class="main_section7_content">
          <div class="main_section7_img">
            <img src="../../assets/About_projects.png"/>
          </div>
          <div class="main_section7_cnt">
            <div class="main_section7_top_cnt">
              {{research_Projects}}
            </div>
            <div class="section7_projects">
              <ul class="research_projects">
                <li>
                  <span style="font-weight: 500;">DST project obtained by Annamalai University entitled, </span><span>{{research_project_ul1}}</span>
                </li>
              </ul>
              <div class="research_projects_div">
                <div class="research_projects_cnt">
                  <p>Principal Investigator:</p>
                  {{research_project_cnt1}}
                </div>
              </div>
            </div>
            <div class="section7_projects">
              <ul class="research_projects">
                <li>
                  <span style="font-weight: 500;">DST project obtained by Periyar University entitled, </span><span>{{research_project_ul2}}</span>
                </li>
              </ul>
              <div class="research_projects_div">
                <div class="research_projects_cnt">
                  <p>Principal Investigator:</p>
                  {{research_project_cnt2}}
                </div>
              </div>
            </div>
            <div class="section7_projects">
              <ul class="research_projects">
                <li>
                  <span style="font-weight: 500;">DST project obtained by Periyar University entitled, </span><span>{{research_project_ul3}}</span><span style="font-weight: 500;">- Ongoing</span>
                </li>
              </ul>
              <div class="research_projects_div">
                <div class="research_projects_cnt">
                  <p>Principal Investigator:</p>
                  {{research_project_cnt3}}
                </div>
              </div>
            </div>
            <div class="section7_projects">
              <ul class="research_projects">
                <li>
                  <span>{{research_project_ul4}}</span><span style="font-weight: 500;">- Ongoing</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="main_section8" id="Academic_Activity">
        <div class="main_section8_header">
          <h2 class="main_section8_head">Academic Activity</h2>
        </div>
        <div class="main_section8_content">
          <div class="main_section8_img">
            <img src="../../assets/About_academic.png"/>
          </div>
          <div class="main_section8_cnt">
            <p>
              {{academic_activity}}
            </p>
            <ol class="academic_activity_ol">
              <li>{{academic_activity_li1}}</li>
              <li>{{academic_activity_li1}}</li>
              <li>{{academic_activity_li1}}</li>
            </ol>
          </div>
        </div>
      </section>
  </main>
</div>
